/* Menu Top */
ul.menu {
	margin:0;
	padding:0;
	color:#F33;
}
ul.menu * {
	margin:0;
	padding:0;
	list-style:none;
}

ul.menu li {
	position:relative;
	float:left;
	margin:0 15px;
}
ul.menu li a {
	color:#000;
}




ul.menu ul {
	background: #F1F1F1;
	position:absolute;
	top:35px;
	left:-50px;
	display:none;
	opacity:0;
	list-style:none;	
}
ul.menu ul li {
	position:relative;
	border:solid 1px #DADADA;
	border-top:none;
	width:200px;
	margin:0;
	line-height:20px;
	text-transform:none;
	font-size:11px;/* text-shadow:#aab8c9 -1px 0px;*/
}
ul.menu ul li:hover{
	background:#EEE;	
}
ul.menu ul li a {
	display:block;
	padding:3px 7px 5px 15px;
	color:#000;
}
ul.menu ul li a:hover {
	color:#000;
}



ul.menu ul ul {
	left:200px;
	top:0px;
}
/* End Menu Top */
