/* CSS Document */
body{
	margin:0px;
	font-family:tahoma;
	color:#333;
}
body *{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
img{
	border:0;
}
.page a{
	color:#333;
	text-decoration:none;
}
.pageselect a{
	color:#990000;
	font-weight:bold;
}
.clear{
	clear: both;
}

/* Text */
	.textBlue{color:#004688;}.textBlue:hover{color:#E60009;}.textSiteBlue{color:#004688;}
	.textBlack{color:#333;}.textBlack:hover{color:#E60009;}.textSiteBlack{color:#333;}
	.textWhite{color:#FFF;}.textWhite:hover{color:#E60009;}.textSiteWhite{color:#FFF;}
	.textRed{color:#E60009;}.textRed:hover{color:#004688;}.textSiteRed{color:#E60009;}
	.textSiteCam{color:#FF932D;}
	
	.textCenter{text-align:center}.textJus{text-align:justify}.textLeft{text-align:left}.textRight{text-align:right}
	.textUp{text-transform:uppercase}.textLow{text-transform:lowercase}
	
	.font11{font-size:11px;}.font12{font-size:12px;}.font13{font-size:13px;}.font14{font-size:14px;}.font15{font-size:15px;}
	.font16{font-size:16px;}.font17{font-size:17px;}.font18{font-size:18px;}.font19{font-size:19px;}.font20{font-size:20px;}
	.font21{font-size:21px;}.font22{font-size:22px;}.font23{font-size:23px;}.font24{font-size:24px;}.font25{font-size:25px;}
	
	.pad0{padding:0px}.pad1{padding:1px;}.pad2{padding:2px;};pad3{padding:3px;}.pad4{padding:4px;}.pad5{padding:5px;}.pad10{padding:10px;}.pad15{padding:15px;}.pad20{padding:20px;}
	.padt1{padding-top:1px;}.padt2{padding-top:2px;};padt3{padding-top:3px;}.padt4{padding-top:4px;}.padt5{padding-top:5px;}.padt10{padding-top:10px;}.padt15{padding-top:15px;}.padt20{padding-top:20px;}
	.padb1{padding-bottom:1px;}.padb2{padding-bottom:2px;};padb3{padding-bottom:3px;}.padb4{padding-bottom:4px;}.padb5{padding:5px;}.padb10{padding:10px;}.padb15{padding:15px;}.padb20{padding:20px;}
	.padl1{padding-left:1px;}.padl2{padding-left:2px;};padl3{padding-left:3px;}.padl4{padding-left:4px;}.padl5{padding-left:5px;}.padl10{padding-left:10px;}.padl15{padding-left:15px;}.padl20{padding-left:20px;}
	.padr1{padding-right:1px;}.padr2{padding-right:2px;};padr3{padding-right:3px;}.padr4{padding-right:4px;}.padr5{padding-right:5px;}.padr10{padding-right:10px;}.padr15{padding-right:15px;}.padr20{padding-right:20px;}
	.padtb1{padding:1px 0px;}.padtb2{padding:2px 0px;};padtb3{padding:3px 0px;}.padtb4{padding:4px 0px;}.padtb5{padding:5px 0px;}.padtb10{padding:10px 0px;}.padtb15{padding:15px 0px;}.padtb20{padding:20px 0px;}
	.padlr1{padding:0px 1px;}.padlr2{padding:0px 2px;};padlr3{padding:0px 3px;}.padlr4{padding:0px 4px;}.padlr5{padding:0px 5px;}.padlr10{padding:0px 10px;}.padlr15{padding:0px 15px;}.padlr20{padding:0px 20px;}
	
	.mar0{margin:0px}.mar1{margin:1px;}.mar2{margin:2px;};mar3{margin:3px;}.mar4{margin:4px;}.mar5{margin:5px;}.mar10{margin:10px;}.mar20{margin:20px;}
	.mart1{margin-top:1px;}.mart2{margin-top:2px;};mart3{margin-top:3px;}.mart4{margin-top:4px;}.mart5{margin-top:5px;}.mart10{margin-top:10px;}.mart15{margin-top:15px;}.mart20{margin-top:20px;}
	.marb1{margin-bottom:1px;}.marb2{margin-bottom:2px;};marb3{margin-bottom:3px;}.marb4{margin-bottom:4px;}.marb5{margin-bottom:5px;}.marb10{margin-bottom:10px;}.marb15{margin-bottom:15px;}.marb20{margin-bottom:20px;}
	.marl1{margin-left:1px;}.marl2{margin-left:2px;};marl3{margin-left:3px;}.marl4{margin-left:4px;}.marl5{margin-left:5px;}.marl10{margin-left:10px;}.marl15{margin-left:15px;}.marl20{margin-left:20px;}
	.marr1{margin-right:1px;}.marr2{margin-right:2px;};marr3{margin-right:3px;}.marr4{margin-right:4px;}.marr5{margin-right:5px;}.marr10{margin-right:10px;}.marr15{margin-right:15px;}.marr20{margin-right:20px;}
	.martb1{margin:1px 0px;}.martb2{margin:2px 0px;};martb3{margin:3px 0px;}.martb4{margin:4px 0px;}.martb5{margin:5px 0px;}.martb10{margin:10px 0px;}.martb15{margin:15px 0px;}.martb20{margin:20px 0px;}
	.marlr1{margin:0px 1px;}.marlr2{margin:0px 2px;};marlr3{margin:0px 3px;}.marlr4{margin:0px 4px;}.marlr5{margin:0px 5px;}.marlr10{margin:0px 10px;}.marlr15{margin:0px 15px;}.marlr20{margin:0px 20px;}
	
	.floatl{float:left;}.floatr{float:right;}
	.line15{line-height:1.5em}.line16{line-height:1.6em}.line17{line-height:1.7em}.line18{line-height:1.8em}.line19{line-height:1.9em}.line20{line-height:2em}
	
	.borSBlue{border:solid 1px #CDDBE8;}.borSBlue{border:solid 1px #CDDBE8;}
	.borDBlue{dotted:solid 1px #CDDBE8;}.borDBlue{border:dotted 1px #CDDBE8;}
	
	.borSWhite{border:solid 1px #FFFFFF;}
	.borSDA{border:solid 1px #DADADA;}.borSEF{border:solid 1px #EFEFEF;}
	.borStWhite{border-top: solid 1px #FFF}.borSbWhite{border-bottom: solid 1px #FFF}.borSlWhite{border-left: solid 1px #FFF}.borSrWhite{border-right: solid 1px #FFF}
	.borStDA{border-top: solid 1px #DADADA}.borSbDA{border-bottom: solid 1px #DADADA}.borSlDA{border-left: solid 1px #DADADA}.borSrDA{border-right: solid 1px #DADADA}
	.borStEF{border-top: solid 1px #EFEFEF}.borSbEF{border-bottom: solid 1px #EFEFEF}.borSlEF{border-left: solid 1px #EFEFEF}.borSrEF{border-right: solid 1px #EFEFEF}
	
	.borDDA{border:dotted 1px #DADADA;}.borDEF{border:dotted 1px #EFEFEF;}
	.borDtDA{border-top: solid 1px #DADADA}.borDbDA{border-bottom: solid 1px #DADADA}.borDlDA{border-left: solid 1px #DADADA}.borDrDA{border-right: solid 1px #DADADA}
	.borDtEF{border-top: dotted 1px #EFEFEF}.borDbEF{border-bottom: solid 1px #EFEFEF}.borDlEF{border-left: solid 1px #EFEFEF}.borDrEF{border-right: solid 1px #EFEFEF}
	
	.bgWhite{
		background:#FFF;
	}
	.bgF4{background:#F4F4F4}
	.bg1{
		background:url(/images/bg-mnutop-b.jpg) repeat-x; height:40px; line-height:40px; 
	}
	.bg2{background:url(../images/bg-danhmuc.jpg); height:32px; line-height:32px;}
	.bg3{
		background:url(/images/bg-mnutop-b.jpg) repeat-x; height:30px; line-height:30px; 
	}
	
	.list1{list-style:url(../images/arrow.gif)}.list2{list-style:url(../images/icon-li.jpg)}.list3{list-style-image:url(../images/icon_asterisk.gif)}
	
	.width50{width:50px;}.width100{width:100px;}.width150{width:150px;}.width200{width:200px;}.width250{width:250px;}.width300{width:300px;}
	.height30{height:30px;}.height40{height:40px;}.height50{height:50px;}
	.line30px{line-height:30px}.line35px{line-height:35px}.line40px{line-height:40px}.line45px{line-height:45px}.line50px{line-height:50px}
/* End */

/* Template Admin */
.templateTop{
	background: #FBFDFD; 
	padding: 10px 0 5px; 
	padding-left:10px; 
	text-transform:uppercase; 
	color:#E27009;
	font-weight: bold;
}

/* Style for tabs */
.tab{
	cursor:pointer;
	color:#27635D;
	height:25px; line-height:25px;
}
.tab .s{
	background:url(../../resource/images/bg-tabs.jpg) repeat-x;
	border:solid 1px #DADADA;
	border-bottom-width:0;
	font-weight:bold;
	padding:0px 10px;
	margin:0px 2px 0px 0px;
}
.tab .n{
	background:url(../../resource/images/bg-tabn.jpg) repeat-x;
	border:solid 1px #DADADA;
	border-bottom-width:0;
	padding:0px 10px;
	margin:0px 2px 0px 0px;
}


/*--------------------------------------------------*//* Background menu */
.bgmenu{
	background:#5C9CCC; 
	color: #FFF; 
	height:28px; 
	line-height:28px; 
	padding-left:10px;
}


.form{
	font-size:12px;
	color:#000;
	line-height:16px;
	background:#F2F2F2;
	border:solid 1px #EFEFEF;
}

.bold{
	font-weight:bold;
	color:#333;
}

.bg{
	background:url(../images/grid3-hrow.gif) repeat-x scroll 0 0 transparent;
	font-family:Tahoma, Verdana; font-size:11px;
}
.table{ border-collapse:collapse;}
.table td{
	color:#15428B;
	font-family:Tahoma,Verdana,Arial;
	font-size:11px;
}
.textBold, .tB{
	font-weight:bold;
}

#dhtmltooltip{
	border-right: black 1px solid;
	padding-right: 4px;
	border-top: black 1px solid;
	padding-left: 4px;
	font-size: 10pt;
	z-index: 100;
	filter: alpha(opacity=99);
	-moz-opacity: .99;
	-khtml-opacity: .99;
	opacity: .99;
	left: -300px;
	visibility: hidden;
	padding-bottom: 4px;
	border-left: black 1px solid;
	padding-top: 4px;
	border-bottom: black 1px solid;
	font-family: Arial;
	position: absolute;
	background-color: lightyellow;
}
#dhtmlpointer{
	z-index: 101;
	left: -300px;
	visibility: hidden;
	position: absolute;
}


/*--------------------------------------------------*//* Style cua Class form */
.form_main{
	padding:0px;
	margin:0px;
}
.form_asterisk{
	color:#FF0000;
}
.form_button{
	border:none;	
	color:#D93404;
	padding-bottom:3px;
	width:85px;
	height:20px;
	background:url(../images/button_1.gif);
	cursor:pointer;
	font-size:11px;
}
.form_button_arrow{
	width:26px;
}
.form_control, .form_search{
	padding:1px;
}
.form_control{
	font-family:tahoma;
	font-size:12px;
	background:#f2f2f2;
	border:1px #DADADA solid;
}
.form_errorMsg{

	color:#FF0000;
}
.form_name, .form_name_2{
	color:#333;
	text-align:right;
}
.form_name_2{
	white-space:nowrap;
}
.form_name_3{
	font-weight:bold;
	color:#004000;
	white-space:nowrap;
	text-align:right;
}
.form_search{
	color:#004000;
	text-decoration:none;
}
.form_text{
	color:#004000;
}
.form_text_note{
	color:#666666;
}



/*=== New styles ===*/
.be-mess{
	width: 96%;
	padding: 8px;
	margin: 2px 0 6px 10px;
	font-size: 12px;
	border: 1px solid #80C65A;
	text-align: left;
	display: none;
}
.item-name{
	padding: 2px 3px;
	border: 0;
}
.exchange_rate{
	text-align: right;
}
.default, .publish, .remove, .active, .approve , .show, .hot , .new , .popular, .daily, .km, .home, .follow, .phongthuy{
	cursor: pointer;
}

.header{
	font-size: 11px;		
	background: url(../images/sort-table.gif) no-repeat left center;
	cursor: pointer;
	white-space: nowrap;
}

.headerSortDown{
	background: #c8c8c8 url(../images/desc.gif) no-repeat left center;
}
.headerSortUp{
	background: #c8c8c8 url(../images/asc.gif) no-repeat left center;
}
#loadingBar{
	background-color: #7d7d7d;
	display: none;
	font-size: 13px;
	color:#FFF;
	font-weight: bold;
	height: 30px;
	left: 0;
	letter-spacing: 3px;
	line-height: 30px;
	position: fixed;
	text-align: center;
	vertical-align: middle;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	opacity: 0.8;
}

table.listingTbl{
	border: 1px solid #d3d3d3;
}
td.no-result{
	font-size: 12px;
	font-weight: 700;
	color: #800000;
	text-align: center;
	padding: 10px 0;
}

.listingTbl tbody tr td.dragHandle:hover{
	cursor: move;
	background: url("../images/16-arrow-move.png") no-repeat 20px center;
}
.listingTbl tbody tr.item-row:hover{
	background: #7adb6c;
}
.listingTbl tbody tr.tDnD_whileDrag, .listingTbl tbody tr.tDnD_whileDrag:hover{
	background: #CCC;
}

.hoz-bar{
	text-align: center;
	background: #008400;
	font-weight: 700;
	font-size: 13px;
	color: #FFFFFF;
}
.dynamic-input{
	margin: 2px 0;
}
.show-element{
	display: table-row;
}
.hide-element{
	display: none;
}
.order-up{
	cursor: pointer;
	background: url("../images/uparrow.png") no-repeat center;
	padding: 8px;
}
.order-down{
	cursor: pointer;
	background: url("../images/downarrow.png") no-repeat center;
	padding: 8px;
}
.fake-down{
	background: url("../images/uparrow.png") no-repeat center;
}
.fake-up{
	background: url("../images/downarrow.png") no-repeat center;
}
#orderHeading{
	cursor: pointer;
}
#top-submit{
	width: 100%;
	text-align: right;
	margin: 10px 0;
}
td.attribute_area table tr td.attr-separator{
	width: 100%;
	background: #b4dfb3;
	font-weight: 700;
	font-size: 13px;
	text-align: center;
}
/*-----------------------------------------------------------------------------------*/
/*	1.	Text - Color
/*-----------------------------------------------------------------------------------*/

.tWhite, .tplMenuTop ul li a, .tplSearchTop .searchSubmit {
	color:#FFF;
}
.tBlack, a {
	color:#333;
}
.tBlue {
	color:#18538c;
}
.tOrange {
	color:#F63;
}
.tRed, a:hover {
	color:#E84B39;
}
.t999 {
	color:#999;
}
/*-----------------------------------------------------------------------------------*/
/*	1.	Text - Size
/*-----------------------------------------------------------------------------------*/
.tS11 {
	font-size:11px;
}
.tS12, .tplSimType a {
	font-size:12px;
}
.tS14 {
	font-size:14px;
}
.tS15, .tplSimType p, .tplSimPrice p, .tplSimDigit p, .tplStst p, .tplNews p.title, .tpBgst p {
	font-size:15px;
}
.tS16 {
	font-size:16px;
}
.tS17 {
	font-size:17px;
}
.tS18 {
	font-size:18px;
}
.tS19 {
	font-size:19px;
}
.tS20 {
	font-size:20px;
}
.tS21 {
	font-size:21px;
}
.tS22 {
	font-size:22px;
}
.tS23 {
	font-size:23px;
}
.tS24 {
	font-size:24px;
}
.tS25 {
	font-size:25px;
}

/*-----------------------------------------------------------------------------------*/
/* Pagination
/*-----------------------------------------------------------------------------------*/
.pagi {
	margin:10px auto;
	text-align:center;
}
.pagi li {
	display: inline-block;
}
.pagi li a{
	color: #333;
	background: #F1F1F1;
	display: block;
	padding: 3px 9px;
}
.pagi .page a:hover {
	background: #CCC;
}
.pagi .pageselect a {
	color: #FFF;
	background: #E57009;
	display: block;
}
/* End */