/* Sortable */
#test-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#test-list li {
	border-bottom: dotted 1px #79C5EB;
}

#test-list li .t a {
	font-weight: bold;
	color: #27635D;
	text-decoration: none;
	outline: none;
}

#test-list li .m a {
	text-decoration: none;
	color: #27635D;
	outline: none;
	font-size: 11px;
}

#test-list li img.handle {
	cursor: move;
}
/* End  Sortable*/ 

.left_title {
	background: url(../images/1.jpg) repeat-x top;
	background: #5C9CCC;
	height: 34px;
	line-height: 34px;
	color: #27635D;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.header {
	color: #27635D;
	height: 35px;
	line-height: 35px;
	padding: 0px 5px;
}

.header a {
	color: #FF3300;
	text-decoration: none;
}
/**
 *	Basic Layout Theme
 */
.ui-layout-pane {
 /* all 'panes' */;
}

.ui-layout-pane-center {
 /* IFRAME pane */
	padding: 0;
	margin: 0;
}

.ui-layout-pane-west {
 /* west pane */
	padding: 0px;
	background-color: #f9f9f9 !important;
	overflow: auto;
}

.ui-layout-resizer {
 /* all 'resizer-bars' */
	background: #DAF2D8;
}

.ui-layout-resizer-open:hover {
 /* mouse-over */
	background: #9D9;
}

.ui-layout-toggler {
 /* all 'toggler-buttons' */
	background: #666;
}

.ui-layout-toggler-closed {
 /* closed toggler-button */
	background: #27635D;
	border-bottom: 1px solid #BBB;
}

.ui-layout-toggler .333 {
 /* toggler-text */
	font: 14px bold Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.ui-layout-toggler:hover {
 /* mouse-over */
	background: #666;
}

.ui-layout-toggler:hover .content {
 /* mouse-over */
	color: #27635D;
}

/* class to make the 'iframe mask' visible */
.ui-layout-mask {
	opacity: 0.2 !important;
	filter: alpha(opacity=20) !important;
	background-color: #666 !important;
}

body .ui-layout-center * {
	font-family: tahoma;
}

body .ui-layout-north * {
	font-family: tahoma;
	font-size: 12px;
}

body .ui-layout-west * {
	font-family: tahoma;
	font-size: 12px;
}

/* Fix jquery UI*/
.ui-tabs .ui-tabs-panel {
	padding: 0;
}

.ui-tabs-anchor {
	outline: none;
}

.ui-widget-content {
	border: none;
	padding: 0;
}

.ui-tabs-nav {
	border-radius: 0;
}

.relo {
	float: left;
	width: 14px;
	height: 14px;
	padding: 0;
	cursor: pointer;
	background: url(../images/reload.png) no-repeat;
}

.hide {
	display: none;
}

.ui-tabs-active .relo {
	display: block;
	margin-left: -7px;
	padding-right: 4px;
}

#raquo {
	color: #051BDA;
	padding: 0 4px 4px;
}


/*Button Close */

.ui-layout-toggler-west-open {
	background: url(../images/bar_close.gif) no-repeat;
}

.ui-layout-toggler-west-closed {
	background: url(../images/bar_open.gif) no-repeat;
}

.ui-layout-toggler-north-open {
	background: url(../images/bar_up.gif) no-repeat;
}

.ui-layout-toggler-north-closed {
	background: url(../images/bar_down.gif) no-repeat;
}