.footer{
	background:#EEE; padding:10px; border-top: solid 1px #DADADA;	
}
.footer h1{
	margin:0;
	font-size:14px;
	color:#333;
}

#right_bar {
	position: fixed;
	right: 0;
	bottom: 8%;
	z-index: 1030;
}
#right_bar .btn {
	margin: 5px 0;
	padding: 5px 8px;
}
#right_bar i {
	font-size: 18px;
}
#right_bar .tooltip-inner {
	width: 150px;
}

#footer_bar {
	position: fixed;
	bottom: 0;
	z-index: 1030;
	background: #EEE;
	max-width:750px;
	width: 100%;
	border-top: 1px solid #DDD;
	height: 30px;
	line-height: 30px;
	color:#E74C3C;
	padding: 0 10px;
	font-weight:bold;
	font-size:14px;
}
#footer_bar .btn {
	padding:6px;
}
.footer_bar_space {
	height: 32px;
}