*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:active, :focus{
	outline: none;
}
html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	max-width: 750px;
	margin: 0 auto;
	padding: 0;
	background-color: #333;
	font: 14px/18px Arial,Helvetica,sans-serif;
	color: #333333;
	line-height: 22px;
}
h1, h2, h3 {
	color: #E77817;
}
ul, li, form{
	margin: 0;
	padding: 0;	
}
ul, li{
	list-style:none;	
}
a {
	color: #0E76C9;
	text-decoration: none;
}
a:hover, a:focus {
	color: #D8052B;
}
img {
	max-width:100% !important;
	vertical-align: middle;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
.text-center {
	text-align: center;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	transition: height 0.35s ease;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.head-line {
	margin:5px 0;	
	font-size: 28px; 
	text-shadow: 0 1px 0 white, 0 2px 0 #DDD;
}
.box_simdep{
	margin: 10px 0;
	padding: 10px;
	background: #FFF;
}
.box_simdep h1{
	font-size: 22px;
	margin: 5px 0 8px;
	font-weight: 700;
}
.box_simdep span{
	font-size: 15px;
	color: #525252;
	padding-bottom: 5px;
}
.box_sim h2 {
	margin: 0 0 15px;
	position: relative;
	padding-left: 40px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	padding-top: 10px;
}
.box_sim h2:before{
	content: "";
	background: url("../img/icon/icon_loa.png");
	width: 32px;
	height: 23px;
	position: absolute;
	top: 10px;
	left: 0;
}
.box_sim .bsh_title{
	padding-left: 32px;
	margin: 0 0 15px;
	position: relative;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	padding-top: 10px;
	line-height: 28px;
}
.box_sim .bsh_title:before{
	content: "";
	background: url("../img/icon/icon_hot.svg") no-repeat center center;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 0px;
	background-size: 30px 30px;
	margin-top: -15px;
}
.box_sim ul{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width: 100%;
	overflow: hidden;

}
.box_sim ul li{
	display: block;
	border: 1px solid #c0c0c0;
	padding: 10px 0;
	border-radius: 5px;
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
}
.logo_viettel{
	width: 40px;
	height: 40px;
	background: url("../img/icon/icon_viettel.jpg") no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.logo_mobi{
	width: 40px;
	height: 40px;
	background: url("../img/icon/icon_mobi.jpg") no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.logo_vn{
	width: 40px;
	height: 40px;
	background: url("../img/icon/icon_vn.jpg") no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.logo_vina{
	width: 40px;
	height: 40px;
	background: url("../img/icon/icon_vina.jpg") no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.logo_vnpt{
	width: 40px;
    height: 40px;
	background: url("../img/icon/icon_vnpt.jpg") no-repeat center center;
	display: inline-block;
}
.bs_logo{
	border: 1px solid transparent;
	border-radius: 50%;
	-webkit-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.33);
	box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.33);
	margin-top: 3px;
}
.box_sim ul li a{
	display: grid;
	grid-template-columns: 30px calc(100% - 30px);
	justify-content: center;
	align-items: center;
	padding: 0 5px;
}
.box_sim ul li a img{
	-webkit-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.33);
	box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.33);
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.bs_main{
	text-align: right;
	align-self: center;
	display: grid;
	align-items: center;
	grid-row-gap: 3px;
}
.sim_price{
	color: #075f09;
	font-size: 14px;
	line-height: normal;
}
.box_sim ul li.bs_more a{
	display: inline-block;
	text-align: center;
	line-height: 42px;
	width: 100%;
	font-size: 18px;
}
.box_sim ul li.bs_more:hover a{
	color: #FFF;
}
.box_sim ul li.bs_more:hover{
	background: #3276b1;
}
.sim_name{
	color: #3276b1;
	font-size: 18px;
	display: inline-block;
	font-weight: 700;
	line-height: normal;
	word-spacing: -2px;
}
.breadcrumb{
	margin-top: 0;
	white-space: nowrap;
	overflow: auto;
}
.breadcrumb li{
	position: relative;
}
.breadcrumb li+li::before {
	content: "›";
	font-family: 宋体;
	font-size: 13px;
	margin: 0 7px 0 10px;
	content: ">";
	font-size: 13px;
	margin: 0 5px 0 5px;
}
.title_main{
	color: #00549c;
	margin: 5px 0 25px;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
}
.title_main:after{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 50px;
	height: 3px;
	background: #E77817;
}
.title_main span{
	color: #ed1d24;
}
.no_result{
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	color: #333;
	margin-bottom: 5px;
}
.no_result_sub{
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	color: #333;
	margin-bottom: 5px;
}
.no_result_sub b{
	color: #ed1d24;
	font-size: 18px;
}
#main{
	background: #FFF;
	margin-top: 10px;
	padding: 10px;
}
table.detail-sim td.sim-digit strong{
	font-size: 22px;
	line-height: 0.8;
	color: #ed1d24;
}
.main_detail .table-sim .sim-digit{
	font-size: 22px;
	color: #ed1d24;
	height: auto;
	font-weight: 700;
}
.main_detail .breadcrumb{
	margin-bottom: 0;
}
table.detail-sim td.sim-price{
	font-size: 18px;
	font-weight: normal;
}
.ds_img_sim{
	float: right;
	width: 40%;
	padding: 10px 0 10px 10px;
	margin-bottom: 10px;
}
.type-sim .alert-warning{
	padding: 0 0 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.type-sim .alert-warning button{
	grid-column-start: 1;
	grid-column-end: 3;
	max-width: 100px;
}
.table-sim .sim-digit{
	font-size: 18px;
	text-shadow: none;
	font-weight: 700;
}
.table-sim th{
	text-align: center;
}
.table-sim .sim-price{
	font-size: 14px;
	color: #075f09;
}
.newslist li.hot_news{
	width: 100%;
}
.newslist li.hot_news .tempvideo{
	width: 100%;
	height: 250px;
	float: none;
	margin-bottom: 15px;
}
.newslist li:nth-child(2){
	clear: both;
}
.newslist li.hot_news .tempcontent{
	max-width: 100%;
}
.ss_title{
	margin: 5px 0 15px;
	position: relative;
	padding-left: 40px;
	text-transform: uppercase;
	font-size: 1.17em;
}
.ss_title:before {
	content: "";
	background: url(../img/icon/icon_loa.png);
	width: 32px;
	height: 23px;
	position: absolute;
	top: 0;
	left: 0;
}
.ha_title_hot{
	font-size: 18px;
	text-align: center;
}
.buy_request{
	position: relative;
	margin-bottom: 10px;
}
.buy_request:after {
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	bottom: -10px;
	left: -15px;
}
.buy_request #box_contact_success:after{
	display: none;
}
.home_article{
	margin-bottom: 20px;
}