.menu-right {
	margin: 0;
	padding: 0;
}
.menu-right li {
	border-top:solid 1px #ddd;
}
.menu-right li:first-child{
	border-top: 0;
}
.menu-right li a {
	display:block;
	padding: 10px 20px;
	font-size: 16px;
	color: #FFF;
}
.menu-right li.active a {
	background:#E77817;
}
