.breadcrumb {
	border-bottom: solid 1px #E7E7E7;
	padding-bottom: 8px;
	color: #0E76C9;
	margin: 0 0 10px;
	padding-left: 0;
}
.breadcrumb a {
	font-weight: bold;
	color: #0E76C9;
}
.breadcrumb a:hover {
	color: #D8052B;
}