.panel {
	margin-bottom: 10px;
}
.panel-body {
	padding: 10px;
}
.panel-body:before, .panel-body:after {
	content: " ";
	display: table;
}
.panel-heading {
	margin:0;
	padding:0;
}
.panel-title {
	margin:0;
	padding:0;
	font-size: 16px;
}
.panel-title > a {
	color: inherit;
}