#header_bar {
	background: #FFF;
	max-width: 750px;
	width: 100%;
	padding: 5px;
}
.hb_top{
	display: grid;
	grid-template-columns: 30px auto 30px;
}
.hb_top .logo{
	text-align: center;
}
#header_bar .td-right {	
	display: flex;
	align-items: center;
	padding-right: 5px;
}
#header_bar .td-left {	
	display: flex;
	align-items: center;
	padding-left: 5px;
}
#header_bar .td-left a, #header_bar .td-right a {	
	font-size: 24px;
	color: #3276b1;
	margin-top: -3px;
}
#header_bar .search{
	position:relative;	
}
#header_bar #searchText{
	height:40px;
	width:100%;
	border: 1px solid #ed1d24;
}
#header_bar .btn {
	height: 40px;
	position: absolute;
	top: 5px;
	right: 6px;
	background: #ed1d24;
	color: #FFF;
	font-size: 22px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.header_bar_space {
	height:50px;
}
.hb_search{
	padding: 5px;
	position: relative;
}