.panel-primary {
	border-bottom: solid 1px #ddd;
	background:#0093DD;
}
.panel-primary .panel-title {
	margin: 0;
	padding: 0;
}
.panel-primary .panel-title a {
	display: block;
	padding: 10px;
	color:#fff;
	background:#0E76BC;
	font-weight: normal;
}
.panel-primary .panel-title a.collapsed {
	color: #0E76BC !important;
	background:#fff;
}
.panel-primary .panel-title a .icon-this:before {
	content: "\e082";
}
.panel-primary .panel-title a.collapsed .icon-this:before {
	content: "\e081";
}
.panel-primary .panel-body li {
	border-top:solid 1px #0E76BC;
}
.panel-primary .panel-body li a {
	display:block;
	padding: 10px 20px;
	color: #fff;
}
.panel-primary .panel-body li.active a {
	background:#E77817;
}
.panel-primary .panel-body li a span {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	float:right;
}
.panel-primary .panel-body li a span:before {
	content: "\e080";
}