.home_article{
	background: #FFF;
	padding: 10px;
	margin-top: 10px;
}
.home_article h2{
	margin: 5px 0 0;
	text-transform: uppercase;
}
.home_article p{
	line-height: 22px;
}
.search_right{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3px;
	padding: 10px 10px 7px 10px;
	grid-row-gap: 3px;
	margin-bottom: 7px;
}
.search_right div a{
	width: 100%;
}

/*Site Bar*/
.panel {
	margin-bottom:5px;
}
.panel-title {
	margin:0;
	padding:5px 0;
	font-size: 14px;
}
.panel-body:before, .panel-body:after {
	content: " ";
	display: table;
}
.panel-body:after {
	clear: both;
}
.panel-body ul, .panel-body li {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 2em;
}

.panel-default .panel-heading {
	border-bottom: solid 3px #DEDEDC;
}
.panel-default .panel-heading .panel-title {
	color: #333;
	background-color: #DEDEDC;
	border-color: #428bca;
	display:block;
	padding: 5px 10px;
	float: left;
}

.panel-sim-digit .panel-heading .panel-title {
	float: left;
}
.panel-sim-digit .panel-body li {
	line-height: 1.6em;
}


/*
 * Template Sim Type
 */
.panel-sim-cat .panel-heading {
	border-bottom: solid 3px #0093DD;	
}
.panel-sim-cat .panel-body {
	padding: 5px 0 0 0;
}

/*
 * Side bar
 */
.panel-sidebar {
	border:solid 1px #ddd;	
	margin-bottom: 10px;
	background: #FFF;
}
.panel-sidebar .panel-heading .panel-title {
	float:left;
	padding:5px 10px;
	min-width:200px;
	border-top: solid 6px #E77817;
	border-bottom: solid 1px #ddd;	
	background:#F9F9F9;
	color: #E77817;
	width: 100%;
	text-transform: uppercase;
}
.panel-sidebar .panel-body{
	padding: 10px;		
}

.col-search .panel-search{
	padding:16px;
}
.col-search #searchText{
	width:350px;
}
.col-search .arrow-search{
	width:0; 
	height:0;
	border: 34px solid #3276B1;
	border-top: 34px solid transparent;
	border-bottom: 34px solid transparent;
	border-left: 34px solid transparent;
	position: absolute;	
	top: 0px;
	right: 0px;
	font-size:50px; 
	color:#3276B1;
	_display: none;	
}
.box_filter ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.box_filter ul li{
	display: inline-block;
	width: 100%;
	border: 1px solid #cccccc;
	height: 30px;
}
.bml_sex ul li.active i.icon_check,
.box_filter ul li.active i.icon_check{
	background: #3276B1;
	border: 1px solid #3276B1;
}
.main_right{
	margin-top: 10px;
}
.main_right .panel-sidebar{
	border: 0;
	background: #FFF;
	margin-bottom: 10px;
}
.main_right .panel-sidebar .panel-heading .panel-title{
	border-right: solid 1px #ddd;
	font-size: 16px;
	font-weight: 700;
}
.main_right .panel-sidebar .panel-body{
	padding: 10px 0;
}
.box_filter ul li a{
	color: #696868;
	line-height: 28px;
	display: inline-block;
	width: 100%;
	padding-left: 10px;
}
.icon_check{
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #696868;
	border-radius: 50%;
	margin-right: 3px;
}
.box_sim_select{
	background: #FFF;
	margin-bottom: 10px;
}
.box_sim_select h2{
	width: 100%;
	height: 35px;
	display: inline-block;
	margin: 0;
	background: #3276b1;
	color: #FFF;
	line-height: 35px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: normal;
}
.box_sim_select h2 a{
	color: #FFF;
}
.box_sim_select h2 i{
	margin-right: 5px;
	color: #FFF;
}
.bss_main{
	padding: 10px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 40px;
	grid-column-gap: 10px;
	justify-content: center;
}
.bss_couple{
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 10px;
}
.bss_main_love{
	padding: 10px 0;
}
.bss_main_love div{
	margin-bottom: 10px;
}
.bss_main_love div span{
	width: 85px;
	display: inline-block;
	line-height: 30px;
}
.bml_date{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.bml_date select{
	margin-right: 10px;
}
.bml_date select:last-child{
	margin-right: 0;
}
.bss_main_love div.bml_sex{
	margin-bottom: 0;
}
.bml_sex ul{
	display: grid;
	grid-template-columns: 1fr 1fr 66px;
	grid-column-gap: 10px;
}
.bml_sex ul li{
	display: inline-block;
	width: 100%;
	border: 1px solid #cccccc;
	height: 30px;
	border-radius: 4px;
}
.bml_sex ul li a {
	color: #696868;
	font-size: 13px;
	line-height: 28px;
	display: inline-block;
	width: 100%;
	padding-left: 10px;
}
.bml_sex ul li a span{
	line-height: 28px;
	width: auto;
}
.bml_sex ul li:last-child{
	border: 0;
	width: 100%;
}
.bml_sex ul li button{
	padding: 4px 25px;
}
.bss_main_love div:last-child{
	margin-bottom: 5px;
}
.box_home_news{
	background: #FFF;
	border: 1px solid #DDD;
}
.box_home_news .nav-tabs{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	white-space: nowrap;
	overflow: auto;
}
.box_home_news .nav-tabs li{
	position: relative;
}
.box_home_news .nav-tabs li a{
	margin: 0;
	padding: 0 8px;
	font-size: 15px;
	line-height: 37px;
	margin-bottom: 0;
}
.box_home_news .nav-tabs li a:hover{
	color: #E77817;
}
.box_home_news .nav-tabs li.active a,
.box_home_news .nav-tabs li.active a:hover,
.box_home_news .nav-tabs li.active a:focus{
	color: #E77817;
	font-weight: normal;
	background: #FFF;
	border-top: 0;
	text-align: center;
}
.box_home_news .nav-tabs li.active:after{
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #E77817;
	top: -2px;
	content: "";
}
.box_home_news .nav-tabs li.active:before{
	position: absolute;
	width: 1px;
	height: 20px;
	background-color: #DDD;
	top: 50%;
	right: 0;
	margin-top: -10px;
	content: "";
}
.box_home_news .nav-tabs li:first-child:before{
	display: none;
}
.box_home_news .nav-tabs li:before{
	position: absolute;
	width: 1px;
	height: 20px;
	background-color: #DDD;
	top: 50%;
	left: 0;
	margin-top: -10px;
	content: "";
}
.box_list_order{
	margin-top: 10px;
}
.box_list_order ul li{
	line-height: 140%;
	margin-bottom: 5px;
}
.box_list_order ul li span{
	width: 100%;
	display: block;
	line-height: 140%;
}
.box_list_order ul li span.bo_name{
	font-size: 14px;
	font-weight: 700;
}
.box_list_order ul li span.text-danger{
	color: #ed1d24;
}
.box_list_order ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
}
.g4_viettel{
	width: 39px;
	height: 21px;
	background: url("../img/icon/4g_viettel.jpg") no-repeat center center;
	display: inline-block;
}
.g4_vina{
	width: 27px;
	height: 23px;
	background: url("../img/icon/4g_vina.jpg") no-repeat center center;
	display: inline-block;
}
.g4_mobi{
	width: 26px;
	height: 23px;
	background: url("../img/icon/4g_mobi.jpg") no-repeat center center;
	display: inline-block;
}
.g4_vnmobi{
	width: 24px;
	height: 24px;
	background: url("../img/icon/4g_vnmobi.jpg") no-repeat center center;
	display: inline-block;
}
.box_sim_4g .nav-tabs:before{
	display: none;
}
.box_sim_4g .nav-tabs{
	grid-template-columns: 25% 25% 25% 25%;
}
.box_sim_4g .nav-tabs li{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}
.box_sim_4g .nav-tabs li a{
	display: flex;
}
.g4_name{
	height: 30px;
	text-align: center;
	width: 100%;
	background: #008f8b;
	color: #FFF;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.g4_list{
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.g4_list li{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px 0;
}
.g4_list li i{
	font-size: 24px;
	margin-bottom: 10px;
	color: #3276b1;
}
.g4_title{
	margin-bottom: 3px;
	color: #000;
	font-size: 13px;
}
.g4_sapo{
	color: #696868;
}
.g4_money{
	display: grid;
	grid-template-columns: 80px calc(100% - 90px);
	padding: 0 10px 10px;
	grid-column-gap: 10px;
}
.g4_cuphap{
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
.g4_title{
	margin-bottom: 3px;
	color: #000;
	font-size: 13px;
}
.g4_cuphap span{
	color: #F00;
	padding: 0 5px;
}
.g4_title_cp{
	text-align: right;
}
.g4_title_cp .g4_price{
	color: #F00;
	font-size: 13px;
}
.box_text_link{
	margin-top: 10px;
}
.box_text_link ul li{
	line-height: 38px;
	border-bottom: 1px solid #DDD;
}
.box_text_link ul li:last-child{
	border-bottom: 0;
}
.box_text_link ul li a{
	font-size: 14px;
}
.main_right .box_text_link .panel-body{
	padding-top: 5px;
	padding-bottom: 5px;
}
.box_fanpage a img{
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
}
.box_fanpage{
	margin-top: 10px;
	background: #FFF;
	text-align: center;
}

/* FOOTER */
.icon_visa{
	width: 60px;
	height: 19px;
	background: url("../img/icon/visa.png") no-repeat center center;
	display: inline-block;
}
.icon_mastercard{
	width: 56px;
	height: 33px;
	background: url("../img/icon/mastercard.png") no-repeat center center;
	display: inline-block;
}
.icon_vcbbank{
	width: 98px;
	height: 20px;
	background: url("../img/icon/vietcombank.png") no-repeat center center;
	display: inline-block;
}
.icon_agribank{
	width: 95px;
	height: 17px;
	background: url("../img/icon/agribank.png") no-repeat center center;
	display: inline-block;
}
.icon_tcbbank{
	width: 100px;
	height: 13px;
	background: url("../img/icon/techcombank.png") no-repeat center center;
	display: inline-block;
}
.icon_ggplay{
	width: 85px;
	height: 25px;
	background: url("../img/icon/androi.jpg") no-repeat center center;
	display: inline-block;
}
.icon_appstore{
	width: 86px;
	height: 26px;
	background: url("../img/icon/appstore.jpg") no-repeat center center;
	display: inline-block;
}
.footer_main{
	background: #3276B1;
	text-align: center;
	padding: 15px 0 10px;
	color: #FFF;
	margin-top: 30px;
	font-size: 13px;
	line-height: 140%;
}
.footer_main div{
	margin-bottom: 5px;
}
.footer_main div:last-child{
	margin-bottom: 0;
}
.list_bank{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 10px;
	margin-bottom: 20px;
}
.list_bank li{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fl_text{
	color: #595858;
	line-height: 160%;
	margin-bottom: 10px;
}
.fl_text span{
	font-size: 13px;
	color: #333;
}
.box_fanpage{
	margin-top: 10px;
	background: #FFF;
	padding: 10px;
}
.home_article{
	background: #FFF;
	padding: 10px;
	margin-top: 10px;
}
.home_article h2{
	margin: 5px 0 0;
}
.home_article p{
	line-height: 140%;
}
.hotline_fixed{
	position: fixed;
	display: block;
	bottom: 15px;
	left: 9px;
}
.hotline_fixed a{
	border: 1px solid #fff;
	z-index: 99999999;
	color: #fff;
	font-weight: bold;
	position: fixed;
	bottom: 15px;
	left: 9px;
	padding: 10px 16px 10px 43px;
	background: #ed1d24;
	border-radius: 50px;
	font-size: 17px;
	line-height: 18px;
}
.hotline_fixed #phone {
	position: absolute;
	top: 3px;
	left: -4px;
}
#phone span {
	display: inline-block;
	width: 43px;
	height: 36px;
	position: absolute;
	top: -3px;
	left: -1px;
	background: url(../img/icon/phone_fixed.webp) no-repeat center center;
	-webkit-animation: Rotate 1300ms linear 1300ms 5;
	animation: Rotate 1300ms linear 1300ms 5;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}
#phone + div {
	width: 31px;
	height: 31px;
	position: absolute;
	left: 0;
	top: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-image: initial;
	border-radius: 50px;
}
.banner_4g img{
	max-width: 100%;
	height: auto;
}
.fr_top{
	display: grid;
	grid-template-columns: 97px calc(100% - 117px);
	grid-column-gap: 20px;
}
.fr_bottom{
	margin-bottom: 10px;
}
.fr_bottom a{
	margin-right: 5px;
}
.hotline-phone-ring-wrap{
    position:fixed;
    bottom:0;
    left:0;
    z-index:999999
}
.hotline-phone-ring{
	position:relative;
	visibility:visible;
	background-color:transparent;
	cursor:pointer;
	z-index:11;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateZ(0);
	transition:visibility .5s;
	left:0;
	bottom:0;
	display:block
}
.hotline-phone-ring-circle-fill{
	width: 60px;
	height: 60px;
	bottom: -5px;
	left: 15px;
	position:absolute;
	background-color:rgba(237, 29, 36, .37);
	border-radius:100%;
	border:2px solid transparent;
	-webkit-animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	transition:all .5s;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	margin-bottom: 0!important;
}
.hotline-phone-ring-img-circle{
	width: 50px;
	height: 50px;
	bottom: 0;
	left: 20px;
	position:absolute;
	background-size:20px;
	border-radius:100%;
	border:2px solid transparent;
	-webkit-animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;
	animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom: 0!important;
}
.hotline-phone-ring-img-circle .pps-btn-img{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex
}
.hotline-phone-ring-img-circle .pps-btn-img img{
	width:33px;
	height:33px;
	transition: opacity 1s;
	opacity: 1;
}
.hotline-phone-ring-img-circle .pps-btn-img svg{
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	fill: #ed1d24;
	border: 1px solid #ed1d24;
}
.hotline-bar{
	position:absolute;
	background:#ed1d24;
	height:45px;
	width:165px;
	line-height:40px;
	border-radius:3px;
	padding:0 10px;
	background-size:100%;
	cursor:pointer;
	transition:all .8s;
	-webkit-transition:all .8s;
	z-index:9;
	border-radius:50px !important;
	left:42px;
	bottom:35px
}
.hotline-bar>a{
	color:#fff;
	text-decoration:none;
	font-size:16px;
	font-weight:700;
	text-indent:32px;
	letter-spacing:1px;
	display:block;
	line-height:45px;
	font-family:Arial
}
.hotline-bar>a:hover,.hotline-bar>a:active{
	color:#fff
}
@-webkit-keyframes phonering-alo-circle-anim{
	0%{
		-webkit-transform:rotate(0) scale(.5) skew(1deg);
		-webkit-opacity:.1
	}
	30%{
		-webkit-transform:rotate(0) scale(.7) skew(1deg);
		-webkit-opacity:.5
	}
	100%{
		-webkit-transform:rotate(0) scale(1) skew(1deg);
		-webkit-opacity:.1
	}
}
@-webkit-keyframes phonering-alo-circle-fill-anim{
	0%{
		-webkit-transform:rotate(0) scale(.7) skew(1deg);
		opacity:.6
	}
	50%{
		-webkit-transform:rotate(0) scale(1) skew(1deg);
		opacity:.6
	}
	100%{
		-webkit-transform:rotate(0) scale(.7) skew(1deg);
		opacity:.6
	}
}
@-webkit-keyframes phonering-alo-circle-img-anim{
	0%{
		-webkit-transform:rotate(0) scale(1) skew(1deg)
	}
	10%{
		-webkit-transform:rotate(-25deg) scale(1) skew(1deg)
	}
	20%{
		-webkit-transform:rotate(25deg) scale(1) skew(1deg)
	}
	30%{
		-webkit-transform:rotate(-25deg) scale(1) skew(1deg)
	}
	40%{
		-webkit-transform:rotate(25deg) scale(1) skew(1deg)
	}
	50%{
		-webkit-transform:rotate(0) scale(1) skew(1deg)
	}
	100%{
		-webkit-transform:rotate(0) scale(1) skew(1deg)
	}
}
footer{
	background: #FFF;
	margin-top: 10px;
	border-top: 3px solid #3276B1;
	padding: 20px 10px 0;
}
.footer_link .title{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.footer_link .fl_item{
	margin-bottom: 15px;
}
.footer_link a{
	font-size: 13px;
	display: inline-block;
	padding-bottom: 5px;
}
.footer_link td{
	padding-right: 10px;
}

/* DETAIL */

table.detail-sim{
	width: 60%;
	border: 0;
	float: left;
}
.ds_img_sim img{
	max-width: 100%;
	height: auto;
}
.bg-info{
	padding: 5px;
	margin-bottom: 5px;
	clear: both;
}
.bg-info.info_detail{
	background-color: #d0d0d0;
	color: #3176b1;
	background-image: none;
	border: 0;
}
.id_hotline{
	color: #ed1d24;
	font-size: 16px;
}
.dtSimContact h3{
	padding: 10px;
	border-radius: 5px;
	background: #3276B1;
	color: #FFF;
	font-weight: normal;
}
#box_contact{
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}
#box_contact:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	top: -20px;
	left: -15px;
}
.box_info_detail:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	top: -20px;
	left: -15px;
}
.box_info_detail{
	position: relative;
	padding-bottom: 20px;
}
.box_info_detail h3{
	margin-bottom: 0;
}
.box_info_detail ul{
	margin: 0;
	padding: 0;
}
.box_info_detail ul li{
	display: block;
	padding: 5px 0;
}
.box_info_detail ul li span{
	line-height: 140%;
	vertical-align: middle;
}
.box_info_detail ul li span:last-child{
	padding-left: 5px;
}
.box_info_detail p{
	color: #F00;
}
.box_info_detail i{
	color: #333;
}
#box_contact_success{
	text-align: center;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}
#box_contact_success:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	top: -20px;
	left: -15px;
}
.hidden{
	display: none;
}
.bcs_title{
	font-size: 24px;
	color: #41a5e3;
	margin-bottom: 10px;
}
.btn_success{
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 5px;
	background: #ed1d24;
	font-size: 28px;
	color: #FFF;
}
#box_contact_success p{
	color: #41a5e3;
	font-size: 16px;
}
.hidden{
	display: none;
}
#zalo {
	right: 12px;
}

#zalo i, #fb_message i {
	background: url(../img/icon/zalo.png) no-repeat center;
	background-size: 35px;
	display: block;
	margin: 6px auto;
	width: 35px;
	height: 35px;
}
.button_icon {
	background: #FFF;
	border-radius: 50%;
	color: #FFF;
	display: block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	opacity: 0;
	position: fixed;
	bottom: 12px;
	text-align: center;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
	transition: box-shadow 150ms linear;
	animation: button_icon_animation 250ms 1.5s forwards;
	-webkit-animation: button_icon_animation 250ms 1.5s forwards;
}
#fb_message{
	right: 12px;
}
#fb_message i{
	background: url(../img/icon/fb-messenger.svg) no-repeat center;
}
@keyframes button_icon_animation {
	0% {
		bottom: 10px;
		opacity: 0;
		transform: scale(0, 0);
	}

	70% {
		bottom: 10px;
		opacity: 1;
		transform: scale(1.2, 1.2);
	}
	100% {
		bottom: 10px;
		opacity: 1;
		transform: scale(1, 1);
	}
}
@media (max-width: 320px) {
	.sim_name{
		font-size: 15px;
	}
	.box_sim ul li a{
		grid-template-columns: 25px 1fr;
	}
	.box_sim ul li a img{
		width: 25px;
		height: 25px;
	}
}

.sim_hop_menh{
	position: relative;
	padding-top: 10px;
	margin-bottom: 20px;
}
.sim_hop_menh:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	bottom: -20px;
	left: -15px;
}
.sim_hop_menh ul{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(106px, 1fr));
	grid-gap: 10px;
}
.sim_hop_menh ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	height: 30px;
	border-radius: 3px;
}
.shm_kim a{
	color: #f1ac4d;
}
.detail_sim_hotline{
	font-size: 14px;
	font-weight: bold;
	color: #ed1d24;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 10px;
}
.shm_moc a{
	color: #5ab95f;
}
.shm_thuy a{
	color: #5ac2df;
}
.shm_hoa a{
	color: #e84a3e;
}
.shm_tho a{
	color: #4f2a10;
}
.sim_hop_menh ul.sim_hop_nam{
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
.main_static_pjax{
	background: #FFF;
	padding: 15px;
}
.table-sim td{
	padding: 5px;
}
#accordion{
	padding: 5px 0;
}
#accordion i{
	font-size: 12px;
	margin-right: 8px;
}
#accordion ul{
	padding-left: 20px;
}
#accordion ul li{
	list-style: disc;
}
#accordion .card-body{
	padding: 10px 12px;
	background: #efefef;
	text-align: justify;
	line-height: 24px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#accordion h3{
	padding: 0 0 10px;
	margin: 0;
	font-size: 16px;
	font-weight: 700;
}
#accordion .card:last-child h3{
	padding-bottom: 0;
}
#accordion .card:last-child .card-body{
	margin-top: 10px;
}
#accordion p{
	margin: 0;
	padding: 0;
}
#accordion p img{
	max-width: 100%;
	height: auto;
	margin: 10px 0;
}
#accordion iframe{
	max-width: 100%;
	margin: 10px 0;
	max-height: 250px;
}
#accordion ol{
	padding-left: 25px;
}
#accordion ol li{
	list-style: lower-alpha;
	margin-bottom: 8px;
}
#yinYang{
	height: 16px;
	position: relative;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#yinYang div{
	background: #FFF;
	border-radius: 50%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#yinYang div div:first-child{
	background: #000;
	border-radius: 0 999px 999px 0;
	left: 50%;
	position: absolute;
}

#yinYang div div:nth-child(2){
	bottom: 50%;
	left: 25%;
	right: 25%;
}

#yinYang div div:last-child{
	background: #000;
	left: 25%;
	right: 25%;
	top: 50%;
}

#yinYang div div:nth-child(2) div{
	border-radius: 50%;
	bottom: 35%;
	left: 35%;
	right: 35%;
	top: 35%;
}

#yinYang div div:last-child div{
	background: #FFF;
	border-radius: 50%;
	bottom: 35%;
	left: 35%;
	right: 35%;
	top: 35%;
}
.box_sim_ns{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 70px;
	grid-gap: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
.border_line{
	position: relative;
}
.border_line:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	top: -20px;
	left: -15px;
}
.box_sim{
	margin-bottom: 30px;
}
.text_overflow{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.carousel{position:relative;line-height:1}
.carousel-inner{overflow:hidden;width:100%;position:relative}
.carousel-inner>.item{display:none;position:relative;transition:.6s ease-in-out left;-webkit-transition:.6s ease-in-out left;}
.carousel-inner>.item>a>img,.carousel-inner>.item>img{display:block;line-height:1}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}
.carousel-inner>.active{left:0}
.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}
.carousel-inner>.next{left:100%}.carousel-inner>.prev{left:-100%}
.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}.carousel-inner>.active.left{left:-100%}
.carousel-inner>.active.right{left:100%}
.carousel-control{display:block;position:absolute;top:42%;left:0px;width:13px;height:20px;opacity:.3;filter:alpha(opacity=30);transition:opacity 0.2s ease 0s;-webkit-transition:opacity 0.2s ease 0s;z-index:2;font-size: 25px;}
.carousel-control.right{left:auto;right:14px}
.carousel:hover .carousel-control{opacity:1;filter:alpha(opacity=100)}
.carousel-indicators{position:absolute;bottom:15px;right:100px;z-index:5;margin:0;list-style:none}
.carousel-indicators li{display:block;float:left;width:24px;height:24px;margin-left:5px;text-indent:-999px;background-color:#ccc;background-color:rgba(255,255,255,.9);border-radius:12px;cursor:pointer;box-shadow:0 0 5px 2px rgba(1,1,1,.2)}
.carousel-indicators .active{background-color:#0072BD}
.carousel-fade .carousel-inner .item{opacity:0;transition-property:opacity;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{left:0;opacity:0;}
.carousel-fade .carousel-inner .active,.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right{opacity:1;}
.vertical .carousel-inner>.item{-webkit-transition:.6s ease-in-out top;transition:.6s ease-in-out top}.vertical .carousel-inner>.active,.vertical .carousel-inner>.next.left,.vertical .carousel-inner>.prev.right{top:0;left:0}
.vertical .carousel-inner .next.left,.vertical .carousel-inner .prev.right{top:0}.vertical .carousel-inner .active.left,.vertical .carousel-inner .active.right,.vertical .carousel-inner .next,.vertical .carousel-inner .prev{top:80px}
.tpl_carousel_1 .control{margin-top:-15px;position:absolute;top:50%;z-index:1}.tpl_carousel_1 .control_prev{left:0}.tpl_carousel_1 .control_next{right:0}
.title_new_sidebar{ font-weight: 700; }
/* News */
.type_new_menu{
	width: 100%;
	clear: both;
	line-height: normal;
	white-space: nowrap;
	display: block;
	overflow: auto;
}
.type_new_menu li{
	display: inline-block;
	height: auto;
	margin: 0 0 10px;
	position: relative;
}
.type_new_menu li:first-child{
	margin-left: 0;
	
}
.type_new_menu li.active a{
	background: #3276B1;
	color: #FFF;
}
.type_new_menu li a{
	display: block;
	padding: 3px 10px;
	font-size: 15px;
	color: #333;
	text-transform: uppercase;
	background: #fff;
	border-radius: 2px;
	font-weight: 700;
}
.infopage {
	display: flex;
	overflow: hidden;
	padding: 0 0 10px;
	border-bottom: 1px solid #eee;
	grid-template-columns: auto auto;
}
.infopage h1 {
	display: inline-block;
	line-height: 1.3em;
	font-size: 18px;
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
	vertical-align: middle;
	padding-right: 10px;
}
.infopage span {
	display: block;
	font-size: 14px;
	color: #999;
	vertical-align: middle;
	padding: 0 10px 0;
}

.newslist{
	width: 100%;
	display: block;
}
.newslist li {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 15px 0;
	position: relative;
}
.newslist li a {
	display: block;
	overflow: hidden;
	position: relative;
}
.newslist li .tempvideo {
	float: left;
	position: relative;
	width: 80px;
	height: 56px;
	margin-right: 15px;
	overflow: hidden;
}
.detail-news .description img{
	max-width: 100%;
	height: auto;
}
.newslist li .tempvideo img{
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.tempcontent{
	float: left;
	max-width: calc(100% - 100px);
}

.newslist li h3 {
	display: block;
	overflow: hidden;
	line-height: 24px;
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-weight: 700;
	color: #232323;
	margin-bottom: 10px;
}
.newslist li figure {
	font-size: 14px;
	color: #333;
	line-height: 22px;
	margin: 10px 0;
}
.newslist li .timepost {
	display: block;
	overflow: hidden;
	font-size: 13px;
	color: #999;
}
.newslist li .timepost {
	display: block;
	overflow: hidden;
	font-size: 14px;
	color: #999;
}
[class*="t_ov"] {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: auto;/* Fallback for non-webkit */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.t_ov_1 { -webkit-line-clamp: 1; }
.t_ov_2 { -webkit-line-clamp: 2; }
.t_ov_3 { -webkit-line-clamp: 3; }
.t_ov_4 { -webkit-line-clamp: 4; }
.t_ov_5 { -webkit-line-clamp: 5; }
.t_ov_6 { -webkit-line-clamp: 6; }
.t_ov_7 { -webkit-line-clamp: 7; }

.titlerelate{
	display: block;
	overflow: hidden;
	font-size: 18px;
	color: #333;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	padding: 20px 20px 15px 25px;
	border-top: 1px solid #eee;
	margin: 0;
	position: relative;
}
.titlerelate:after{
	content: "";
	width: 3px;
	height: 20px;
	top: 50%;
	left: 10px;
	background-color: #3276B1;
	transform: translate(0, -50%);
	position: absolute;
	margin-top: 2px;
}
.newsrelate {
	display: block;
	overflow: hidden;
	padding: 0 10px;
}
.newsrelate li {
	float: left;
	overflow: hidden;
	width: 100%;
	margin-bottom: 15px;
}
.newsrelate li:nth-child(3n+1) {
	clear: both;
}
.newsrelate li a {
	display: block;
	overflow: hidden;
}
.newsrelate li .tempvideo {
	display: block;
	position: relative;
	height: 56px;
	overflow: hidden;
	width: 80px;
	margin-left: 10px;
	float: right;
}
.newsrelate li img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.newsrelate li h3 {
	display: block;
	overflow: hidden;
	line-height: 1.3em;
	font-size: 16px;
	color: #333;
	line-height: 22px;
	font-weight: 700;
	width: auto;
	margin: 0 auto 5px;
}
.newsrelate li .timepost {
	margin-top: 2px;
	display: block;
	overflow: hidden;
	font-size: 13px;
	color: #999;
}
.type-phong-thuy .breadcrumb{
	white-space: normal;
}
#loadSimPhongThuy .border_line:after{
	display: none;
}
#phongthuy_main .ptmain_title{
	margin-bottom: 15px;
	line-height: 28px;
}
.btn_cart_list{
	width: 70px;
	height: 27px;
	display: flex;
	justify-content: center;
	background-color: #47a447;
	color: #FFF;
	border-radius: 3px;
	font-size: 13px;
	font-weight: normal;
	line-height: 27px;
	margin: 0 auto;
}
.btn_cart_list:focus,
.btn_cart_list:active,
.btn_cart_list:hover{
	color: #FFF;
}
#choose_sim_pt h3{
	margin-bottom: 20px;
}
.btn_see_more{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-bottom: 30px;
}
.btn_see_more a{
	padding: 6px 18px;
	color: #FFF;
	text-align: center;
	border-radius: 3px;
	background: #00549c;
}
.sim_detail_search{
	margin-top: 30px;
}
.suntory-alo-phone{
	display: block;
	bottom: 45px;
	left: 0px;
	background-color: transparent;
	cursor: pointer;
	height: 48px;
	position: fixed;
	transition: visibility 0.5s ease 0s;
	width: 48px;
	z-index: 200000 !important;
}
.suntory-alo-ph-circle-fill {
	animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
	border: 2px solid transparent;
	border-radius: 100%;
	height: 60px;
	left: 24px;
	position: absolute;
	top: 24px;
	transform-origin: 50% 50% 0;
	transition: all 0.5s ease 0s;
	width: 60px;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
	fill: #e11b1e;
	width: 50px;
	height: 50px;
	background: #e11b1e;
	border-radius: 50%;
}
.suntory-alo-ph-img-circle {
	background: #e11b1e;
	border: 1px solid transparent;
	border-radius: 4px 0 0 4px;
	height: 46px;
	left: 28px;
	position: absolute;
	top: 27px;
	transform-origin: 50% 50% 0;
	width: 46px;
	padding: 0px;
	box-sizing: border-box;
	border-radius: 50%;
}
.suntory-alo-ph-img-circle svg {
	fill: #e11b1e;
	width: 44px;
	height: 44px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid  #e11b1e;
	box-sizing: border-box;
}
.suntory-alo-ph-circle {
	animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
	background-color: transparent;
	border: 2px solid rgba(30, 30, 30, 0.4);
	border-radius: 100%;
	height: 70px;
	left: 13px;
	opacity: 0.1;
	position: absolute;
	top: 12px;
	transform-origin: 50% 50% 0;
	transition: all 0.5s ease 0s;
	width: 70px;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
	border-color: #ed1b24;
	opacity: 1;
	display: none;
}
.list_simhot{
	max-height: 2320px;
	overflow: hidden;
	transition: 0.3s all;
}
.bs_more_hot{
	text-align: center;
	margin-top: 10px;
}
.bs_more_hot a{
	display: inline-block;
	border: 1px solid #c0c0c0;
	padding: 10px 20px;
	border-radius: 5px;
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	position: relative;
	font-weight: 700;
	font-size: 16px;
}
.list_simhot.show_full{
	max-height: none;
}