.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container:before, .container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.row:before, .row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
	float: left;
}
.col-xs-1 {
	width: 8.333333333333332%;
}
.col-xs-2 {
	width: 16.666666666666664%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-4 {
	width: 33.33333333333333%;
}
.col-xs-5 {
	width: 41.66666666666667%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-7 {
	width: 58.333333333333336%;
}
.col-xs-8 {
	width: 66.66666666666666%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-10 {
	width: 83.33333333333334%;
}
.col-xs-11 {
	width: 91.66666666666666%;
}
.col-xs-12 {
	width: 100%;
}
@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
		float: left;
	}
	.col-sm-1 {
		width: 8.333333333333332%;
	}
	.col-sm-2 {
		width: 16.666666666666664%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33333333333333%;
	}
	.col-sm-5 {
		width: 41.66666666666667%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.333333333333336%;
	}
	.col-sm-8 {
		width: 66.66666666666666%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.33333333333334%;
	}
	.col-sm-11 {
		width: 91.66666666666666%;
	}
	.col-sm-12 {
		width: 100%;
	}
}

html, body, #main_container {
	width: 100%;
	height: 100%;
}
#home_content {
	position: relative;
	overflow: hidden;
}
#main_container {
	float: left;
	background: #efefef;
	overflow: hidden;
}
#header-bar {
	background: #0072bd;
}
#header {
	position: relative;
	height: 25px;
	width: 90%;
	background: #fff;
	border-radius: 14px;
}
#menu, #right_menu {
	width: 270px;
	float: left;
	background: #fff;
	height: 100%;
	overflow-y: scroll;
	display: none;
}

#right_menu {
	float: right;
	background: #0E76BC;
}

#menu::-webkit-scrollbar, #right_menu::-webkit-scrollbar {
	width: 1px;
}
.overlay{
	width:100%;
	height:100%;
	position: absolute;
	background: rgba(0,0,0,.3);
	display: none;
	top:50px;
	z-index:1050;
}
#menu_mobile{
	margin-top: 10px;
	display: none;
}


.show_left_menu, .show_right_menu {
	height: 100%;
	overflow: hidden;
}
.show_left_menu #main_container, .show_right_menu #main_container {
	position: absolute;
	height: 100%;
	overflow: hidden;
}
.show_left_menu #menu, .show_right_menu #right_menu {
	display: block;
}
/*.show_left_menu #header_bar, .show_right_menu #header_bar, .show_left_menu #right_bar, .show_right_menu #right_bar {
	position:absolute;
}*/
.show_left_menu #right_menu, .show_right_menu #menu {
	display: none;
}


