.type-phong-thuy .header {
	position:relative;
	background:#FFF url(../img/phong-thuy/bgr-header.jpg) no-repeat top right;
	width:99.9%;
    height: 95px;
	z-index: 1;
	overflow: hidden;
}
.type-phong-thuy .header .logo{
	position:absolute;
	left: -120px;
	top: -65px;
	background: transparent;
}
.type-phong-thuy .header .slogan{
	position:absolute;
	left: 145px;
	top: 15px;
}
.type-phong-thuy .nav{
	background:#0082C8;
}
.type-phong-thuy .body-tool, .type-phong-thuy .share {
	background:url(../img/phong-thuy/bgr-main.jpg);
}
.type-phong-thuy .body-tool{
	border-bottom: solid 8px #0082C8;	
}
.type-phong-thuy .share{
	background:url(../img/phong-thuy/bgr-main.jpg);
	padding:15px 50px; 
}
.type-phong-thuy h3{
	margin:10px 0 0 0;
}
#main-phong-thuy{
	background: #FFF;
}