*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
:active,
:focus {
    outline: 0
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body {
    max-width: 750px;
    margin: 0 auto;
    padding: 0;
    background-color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
    line-height: 1.428571429
}
form,
li,
ul {
    margin: 0;
    padding: 0
}
li,
ul {
    list-style: none
}
a {
    color: #0E76C9;
    text-decoration: none
}
a:focus,
a:hover {
    color: #D8052B
}
img {
    max-width: 100%!important;
    vertical-align: middle
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
h1,
h2,
h3 {
    color: #D8052B!important
}
.text-center {
    text-align: center
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}
.fade.in {
    opacity: 1
}
.collapse {
    display: none
}
.collapse.in {
    display: block
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.pull-right {
    float: right!important
}
.pull-left {
    float: left!important
}
.hide {
    display: none!important
}
.show {
    display: block!important
}
.invisible {
    visibility: hidden
}
.head-line {
    margin: 5px 0;
    font-size: 28px;
    text-shadow: 0 1px 0 white, 0 2px 0 #DDD
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
.container:after,
.container:before {
    content: " ";
    display: table
}
.container:after {
    clear: both
}
.row {
    margin-left: -15px;
    margin-right: -15px
}
.row:after,
.row:before {
    content: " ";
    display: table
}
.row:after {
    clear: both
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}
.col-xs-1 {
    width: 8.333333333333332%
}
.col-xs-2 {
    width: 16.666666666666664%
}
.col-xs-3 {
    width: 25%
}
.col-xs-4 {
    width: 33.33333333333333%
}
.col-xs-5 {
    width: 41.66666666666667%
}
.col-xs-6 {
    width: 50%
}
.col-xs-7 {
    width: 58.333333333333336%
}
.col-xs-8 {
    width: 66.66666666666666%
}
.col-xs-9 {
    width: 75%
}
.col-xs-10 {
    width: 83.33333333333334%
}
.col-xs-11 {
    width: 91.66666666666666%
}
.col-xs-12 {
    width: 100%
}
@media (min-width: 768px) {
    .container {
        max-width: 750px
    }
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-1 {
        width: 8.333333333333332%
    }
    .col-sm-2 {
        width: 16.666666666666664%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-4 {
        width: 33.33333333333333%
    }
    .col-sm-5 {
        width: 41.66666666666667%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-7 {
        width: 58.333333333333336%
    }
    .col-sm-8 {
        width: 66.66666666666666%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-10 {
        width: 83.33333333333334%
    }
    .col-sm-11 {
        width: 91.66666666666666%
    }
    .col-sm-12 {
        width: 100%
    }
}
#main {
    padding: 10px
}
#main_container,
body,
html {
    width: 100%;
    height: 100%
}
#home_content {
    position: relative;
    overflow: hidden
}
#main_container {
    float: left;
    background: #fff;
    overflow: hidden
}
#header-bar {
    background: #0072bd
}
#header {
    position: relative;
    height: 25px;
    width: 90%;
    background: #fff;
    border-radius: 14px
}
#menu,
#right_menu {
    width: 270px;
    float: left;
    background: #fff;
    height: 100%;
    overflow-y: scroll;
    display: none
}
#right_menu {
    float: right
}
#menu::-webkit-scrollbar,
#right_menu::-webkit-scrollbar {
    width: 1px
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .3);
    display: none;
    top: 50px;
    z-index: 1050
}
.show_left_menu,
.show_right_menu {
    height: 100%;
    overflow: hidden
}
.show_left_menu #main_container,
.show_right_menu #main_container {
    position: absolute;
    height: 100%;
    overflow: hidden
}
.show_left_menu #menu,
.show_right_menu #right_menu {
    display: block
}
.show_left_menu #header_bar,
.show_left_menu #right_bar,
.show_right_menu #header_bar,
.show_right_menu #right_bar {
    position: absolute
}
.show_left_menu #right_menu,
.show_right_menu #menu {
    display: none
}
@font-face {
    font-family: 'glyphicons Halflings';
    src: url(/lib/fonts/glyphicons-halflings-regular.eot);
    src: url(/lib/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(/lib/fonts/glyphicons-halflings-regular.woff) format('woff'), url(/lib/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(/lib/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular) format('svg')
}
.icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}
.icon-asterisk:before {
    content: "\2a"
}
.icon-plus:before {
    content: "\2b"
}
.icon-euro:before {
    content: "\20ac"
}
.icon-minus:before {
    content: "\2212"
}
.icon-cloud:before {
    content: "\2601"
}
.icon-envelope:before {
    content: "\2709"
}
.icon-pencil:before {
    content: "\270f"
}
.icon-glass:before {
    content: "\e001"
}
.icon-music:before {
    content: "\e002"
}
.icon-search:before {
    content: "\e003"
}
.icon-heart:before {
    content: "\e005"
}
.icon-star:before {
    content: "\e006"
}
.icon-star-empty:before {
    content: "\e007"
}
.icon-user:before {
    content: "\e008"
}
.icon-film:before {
    content: "\e009"
}
.icon-th-large:before {
    content: "\e010"
}
.icon-th:before {
    content: "\e011"
}
.icon-th-list:before {
    content: "\e012"
}
.icon-ok:before {
    content: "\e013"
}
.icon-remove:before {
    content: "\e014"
}
.icon-zoom-in:before {
    content: "\e015"
}
.icon-zoom-out:before {
    content: "\e016"
}
.icon-off:before {
    content: "\e017"
}
.icon-signal:before {
    content: "\e018"
}
.icon-cog:before {
    content: "\e019"
}
.icon-trash:before {
    content: "\e020"
}
.icon-home:before {
    content: "\e021"
}
.icon-file:before {
    content: "\e022"
}
.icon-time:before {
    content: "\e023"
}
.icon-road:before {
    content: "\e024"
}
.icon-download-alt:before {
    content: "\e025"
}
.icon-download:before {
    content: "\e026"
}
.icon-upload:before {
    content: "\e027"
}
.icon-inbox:before {
    content: "\e028"
}
.icon-play-circle:before {
    content: "\e029"
}
.icon-repeat:before {
    content: "\e030"
}
.icon-refresh:before {
    content: "\e031"
}
.icon-list-alt:before {
    content: "\e032"
}
.icon-flag:before {
    content: "\e034"
}
.icon-headphones:before {
    content: "\e035"
}
.icon-volume-off:before {
    content: "\e036"
}
.icon-volume-down:before {
    content: "\e037"
}
.icon-volume-up:before {
    content: "\e038"
}
.icon-qrcode:before {
    content: "\e039"
}
.icon-barcode:before {
    content: "\e040"
}
.icon-tag:before {
    content: "\e041"
}
.icon-tags:before {
    content: "\e042"
}
.icon-book:before {
    content: "\e043"
}
.icon-print:before {
    content: "\e045"
}
.icon-font:before {
    content: "\e047"
}
.icon-bold:before {
    content: "\e048"
}
.icon-italic:before {
    content: "\e049"
}
.icon-text-height:before {
    content: "\e050"
}
.icon-text-width:before {
    content: "\e051"
}
.icon-align-left:before {
    content: "\e052"
}
.icon-align-center:before {
    content: "\e053"
}
.icon-align-right:before {
    content: "\e054"
}
.icon-align-justify:before {
    content: "\e055"
}
.icon-list:before {
    content: "\e056"
}
.icon-indent-left:before {
    content: "\e057"
}
.icon-indent-right:before {
    content: "\e058"
}
.icon-facetime-video:before {
    content: "\e059"
}
.icon-picture:before {
    content: "\e060"
}
.icon-map-marker:before {
    content: "\e062"
}
.icon-adjust:before {
    content: "\e063"
}
.icon-tint:before {
    content: "\e064"
}
.icon-edit:before {
    content: "\e065"
}
.icon-share:before {
    content: "\e066"
}
.icon-check:before {
    content: "\e067"
}
.icon-move:before {
    content: "\e068"
}
.icon-step-backward:before {
    content: "\e069"
}
.icon-fast-backward:before {
    content: "\e070"
}
.icon-backward:before {
    content: "\e071"
}
.icon-play:before {
    content: "\e072"
}
.icon-pause:before {
    content: "\e073"
}
.icon-stop:before {
    content: "\e074"
}
.icon-forward:before {
    content: "\e075"
}
.icon-fast-forward:before {
    content: "\e076"
}
.icon-step-forward:before {
    content: "\e077"
}
.icon-eject:before {
    content: "\e078"
}
.icon-chevron-left:before {
    content: "\e079"
}
.icon-chevron-right:before {
    content: "\e080"
}
.icon-plus-sign:before {
    content: "\e081"
}
.icon-minus-sign:before {
    content: "\e082"
}
.icon-remove-sign:before {
    content: "\e083"
}
.icon-ok-sign:before {
    content: "\e084"
}
.icon-question-sign:before {
    content: "\e085"
}
.icon-info-sign:before {
    content: "\e086"
}
.icon-screenshot:before {
    content: "\e087"
}
.icon-remove-circle:before {
    content: "\e088"
}
.icon-ok-circle:before {
    content: "\e089"
}
.icon-ban-circle:before {
    content: "\e090"
}
.icon-arrow-left:before {
    content: "\e091"
}
.icon-arrow-right:before {
    content: "\e092"
}
.icon-arrow-up:before {
    content: "\e093"
}
.icon-arrow-down:before {
    content: "\e094"
}
.icon-share-alt:before {
    content: "\e095"
}
.icon-resize-full:before {
    content: "\e096"
}
.icon-resize-small:before {
    content: "\e097"
}
.icon-exclamation-sign:before {
    content: "\e101"
}
.icon-gift:before {
    content: "\e102"
}
.icon-leaf:before {
    content: "\e103"
}
.icon-eye-open:before {
    content: "\e105"
}
.icon-eye-close:before {
    content: "\e106"
}
.icon-warning-sign:before {
    content: "\e107"
}
.icon-plane:before {
    content: "\e108"
}
.icon-random:before {
    content: "\e110"
}
.icon-comment:before {
    content: "\e111"
}
.icon-magnet:before {
    content: "\e112"
}
.icon-chevron-up:before {
    content: "\e113"
}
.icon-chevron-down:before {
    content: "\e114"
}
.icon-retweet:before {
    content: "\e115"
}
.icon-shopping-cart:before {
    content: "\e116"
}
.icon-folder-close:before {
    content: "\e117"
}
.icon-folder-open:before {
    content: "\e118"
}
.icon-resize-vertical:before {
    content: "\e119"
}
.icon-resize-horizontal:before {
    content: "\e120"
}
.icon-hdd:before {
    content: "\e121"
}
.icon-bullhorn:before {
    content: "\e122"
}
.icon-certificate:before {
    content: "\e124"
}
.icon-thumbs-up:before {
    content: "\e125"
}
.icon-thumbs-down:before {
    content: "\e126"
}
.icon-hand-right:before {
    content: "\e127"
}
.icon-hand-left:before {
    content: "\e128"
}
.icon-hand-up:before {
    content: "\e129"
}
.icon-hand-down:before {
    content: "\e130"
}
.icon-circle-arrow-right:before {
    content: "\e131"
}
.icon-circle-arrow-left:before {
    content: "\e132"
}
.icon-circle-arrow-up:before {
    content: "\e133"
}
.icon-circle-arrow-down:before {
    content: "\e134"
}
.icon-globe:before {
    content: "\e135"
}
.icon-tasks:before {
    content: "\e137"
}
.icon-filter:before {
    content: "\e138"
}
.icon-fullscreen:before {
    content: "\e140"
}
.icon-dashboard:before {
    content: "\e141"
}
.icon-heart-empty:before {
    content: "\e143"
}
.icon-link:before {
    content: "\e144"
}
.icon-phone:before {
    content: "\e145"
}
.icon-usd:before {
    content: "\e148"
}
.icon-gbp:before {
    content: "\e149"
}
.icon-sort:before {
    content: "\e150"
}
.icon-sort-by-alphabet:before {
    content: "\e151"
}
.icon-sort-by-alphabet-alt:before {
    content: "\e152"
}
.icon-sort-by-order:before {
    content: "\e153"
}
.icon-sort-by-order-alt:before {
    content: "\e154"
}
.icon-sort-by-attributes:before {
    content: "\e155"
}
.icon-sort-by-attributes-alt:before {
    content: "\e156"
}
.icon-unchecked:before {
    content: "\e157"
}
.icon-expand:before {
    content: "\e158"
}
.icon-collapse-down:before {
    content: "\e159"
}
.icon-collapse-up:before {
    content: "\e160"
}
.icon-log-in:before {
    content: "\e161"
}
.icon-flash:before {
    content: "\e162"
}
.icon-log-out:before {
    content: "\e163"
}
.icon-new-window:before {
    content: "\e164"
}
.icon-record:before {
    content: "\e165"
}
.icon-save:before {
    content: "\e166"
}
.icon-open:before {
    content: "\e167"
}
.icon-saved:before {
    content: "\e168"
}
.icon-import:before {
    content: "\e169"
}
.icon-export:before {
    content: "\e170"
}
.icon-send:before {
    content: "\e171"
}
.icon-floppy-disk:before {
    content: "\e172"
}
.icon-floppy-saved:before {
    content: "\e173"
}
.icon-floppy-remove:before {
    content: "\e174"
}
.icon-floppy-save:before {
    content: "\e175"
}
.icon-floppy-open:before {
    content: "\e176"
}
.icon-credit-card:before {
    content: "\e177"
}
.icon-transfer:before {
    content: "\e178"
}
.icon-cutlery:before {
    content: "\e179"
}
.icon-header:before {
    content: "\e180"
}
.icon-compressed:before {
    content: "\e181"
}
.icon-earphone:before {
    content: "\e182"
}
.icon-phone-alt:before {
    content: "\e183"
}
.icon-tower:before {
    content: "\e184"
}
.icon-stats:before {
    content: "\e185"
}
.icon-sd-video:before {
    content: "\e186"
}
.icon-hd-video:before {
    content: "\e187"
}
.icon-subtitles:before {
    content: "\e188"
}
.icon-sound-stereo:before {
    content: "\e189"
}
.icon-sound-dolby:before {
    content: "\e190"
}
.icon-sound-5-1:before {
    content: "\e191"
}
.icon-sound-6-1:before {
    content: "\e192"
}
.icon-sound-7-1:before {
    content: "\e193"
}
.icon-copyright-mark:before {
    content: "\e194"
}
.icon-registration-mark:before {
    content: "\e195"
}
.icon-cloud-download:before {
    content: "\e197"
}
.icon-cloud-upload:before {
    content: "\e198"
}
.icon-tree-conifer:before {
    content: "\e199"
}
.icon-tree-deciduous:before {
    content: "\e200"
}
.icon-briefcase:before {
    content: "\1f4bc"
}
.icon-calendar:before {
    content: "\1f4c5"
}
.icon-pushpin:before {
    content: "\1f4cc"
}
.icon-paperclip:before {
    content: "\1f4ce"
}
.icon-camera:before {
    content: "\1f4f7"
}
.icon-lock:before {
    content: "\1f512"
}
.icon-bell:before {
    content: "\1f514"
}
.icon-bookmark:before {
    content: "\1f516"
}
.icon-fire:before {
    content: "\1f525"
}
.icon-wrench:before {
    content: "\1f527"
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}
.pagination li {
    display: inline
}
.pagination li a,
.pagination li span {
    position: relative;
    float: left;
    padding: 7px 14px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px
}
.pagination li:first-child a,
.pagination li:first-child span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}
.pagination li:last-child a,
.pagination li:last-child span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
    background-color: #eee
}
.pagination .active a,
.pagination .active a:focus,
.pagination .active a:hover,
.pagination .active span,
.pagination .active span:focus,
.pagination .active span:hover {
    z-index: 2;
    color: #fff;
    background-color: #0E76BC;
    border-color: #0E76BC;
    cursor: default
}
.breadcrumb {
    border-bottom: solid 1px #E7E7E7;
    padding-bottom: 8px;
    color: #0E76C9
}
.breadcrumb a {
    font-weight: 700;
    color: #0E76C9
}
.breadcrumb a:hover {
    color: #D8052B
}
table {
    max-width: 100%;
    background-color: transparent
}
th {
    text-align: left
}
.table {
    width: 100%
}
.table tbody tr td,
.table tbody tr th,
.table tfoot tr td,
.table tfoot tr th,
.table thead tr td,
.table thead tr th {
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    border-top: 1px solid #ddd
}
.table thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding-left: 10px
}
.table caption+thead tr:first-child td,
.table caption+thead tr:first-child th,
.table colgroup+thead tr:first-child td,
.table colgroup+thead tr:first-child th,
.table thead:first-child tr:first-child td,
.table thead:first-child tr:first-child th {
    border-top: 0;
    background: #ddd
}
.table tbody+tbody {
    border-top: 2px solid #ddd
}
.table .table {
    background-color: #fff
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9
}
table col[class*=col-] {
    float: none;
    display: table-column
}
table td[class*=col-],
table th[class*=col-] {
    float: none;
    display: table-cell
}
.form-control {
    padding: 6px 8px;
    font-size: 12.5px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none
}
.btn.active,
.btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}
.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad
}
.btn-default.active,
.btn-default:active {
    background-image: none
}
.btn-primary {
    color: #fff;
    background-color: #0E76BC;
    border-color: #357ebd
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e
}
.btn-primary.active,
.btn-primary:active {
    background-image: none
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}
.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover {
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512
}
.btn-warning.active,
.btn-warning:active {
    background-image: none
}
.btn-danger {
    color: #fff;
    background-color: #E74C3C;
    border-color: #d43f3a
}
.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925
}
.btn-danger.active,
.btn-danger:active {
    background-image: none
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover {
    color: #fff;
    background-color: #47a447;
    border-color: #398439
}
.btn-success.active,
.btn-success:active {
    background-image: none
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc
}
.btn-info.active,
.btn-info:active {
    background-image: none
}
.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 13px;
    line-height: 1.6;
    opacity: 0;
    filter: alpha(opacity=0)
}
.tooltip.in {
    opacity: .9;
    filter: alpha(opacity=90)
}
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px
}
.tooltip-inner {
    width: 300px;
    padding: 10px 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #000;
    border-radius: 4px
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    _display: none
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}
.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 320px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    white-space: normal
}
@media (min-width: 768px) {
    .popover {
        width: 730px
    }
}
.popover.top {
    margin-top: -10px
}
.popover.right {
    margin-left: 10px
}
.popover.bottom {
    margin-top: 10px
}
.popover.left {
    margin-left: -10px
}
.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 5px solid #E77817;
    border-radius: 5px 5px 0 0
}
.popover-content {
    padding: 5px 10px;
    line-height: 2em
}
.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}
.popover .arrow {
    border-width: 11px
}
.popover .arrow:after {
    border-width: 10px;
    content: ""
}
.popover.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    bottom: -11px
}
.popover.top .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff
}
.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25)
}
.popover.right .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff
}
.popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
    top: -11px
}
.popover.bottom .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff
}
.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25)
}
.popover.left .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px
}
.nav {
    margin: 0;
    padding: 0;
    list-style: none
}
.nav:after,
.nav:before {
    content: " ";
    display: table
}
.nav:after {
    clear: both
}
.nav li a {
    display: block;
    padding: 10px 0;
    margin: 0 10px
}
.nav-tabs {
    border-bottom: 1px solid #ddd
}
.nav-tabs li {
    float: left;
    margin-bottom: -1px
}
.nav-tabs li a {
    text-align: center;
    font-size: 14px
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
    cursor: default;
    color: #E77817;
    font-weight: 700;
    background: #fff;
    border-top: solid 5px #E77817
}
.tab-content .tab-pane {
    display: none
}
.tab-content .active {
    display: block
}
.nav-tabs.nav-justified {
    width: 100%
}
.nav-tabs.nav-justified li {
    float: none;
    display: table-cell;
    width: 1%
}
.nav-tabs.nav-justified li a {
    margin: 0 5px
}
.nav-tabs-phong-thuy {
    border-bottom: 0;
    padding-top: 5px
}
.nav-tabs-phong-thuy li a {
    color: #FFF
}
.nav-tabs-phong-thuy li.active a,
.nav-tabs-phong-thuy li.active a:focus,
.nav-tabs-phong-thuy li.active a:hover {
    border: 0
}
#header_bar {
    position: fixed;
    top: 0;
    z-index: 1031;
    background: #0E76BC;
    max-width: 750px;
    width: 100%
}
#header_bar .td-left {
    border-right: solid 2px #016AB3
}
#header_bar .td-right {
    border-left: solid 2px #016AB3
}
#header_bar .td-left a,
#header_bar .td-right a {
    font-size: 24px;
    color: #FFF
}
#header_bar .search {
    position: relative
}
#header_bar #searchText {
    height: 40px;
    width: 100%
}
#header_bar .btn {
    height: 40px;
    position: absolute;
    top: 0;
    right: 0
}
.header_bar_space {
    height: 50px
}
.open .dropdown-menu {
    display: block
}
.open a {
    outline: 0
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
    content: ""
}
.dropdown {
    position: relative
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 0;
    list-style: none;
    border: solid 1px #DADADA;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}
.dropdown-menu li a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    white-space: nowrap
}
.dropdown-menu .active a,
.dropdown-menu .active a:focus,
.dropdown-menu .active a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
    text-decoration: none;
    color: #D8052B
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0 dotted;
    border-bottom: 4px solid #FFF;
    content: ""
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px
}
.panel-primary {
    border-bottom: solid 1px #ddd;
    background: #0093DD
}
.panel-primary .panel-title {
    margin: 0;
    padding: 0
}
.panel-primary .panel-title a {
    display: block;
    padding: 10px;
    color: #fff;
    background: #0E76BC
}
.panel-primary .panel-title a.collapsed {
    color: #0E76BC!important;
    background: #fff
}
.panel-primary .panel-title a .icon-this:before {
    content: "\e082"
}
.panel-primary .panel-title a.collapsed .icon-this:before {
    content: "\e081"
}
.panel-primary .panel-body li {
    border-top: solid 1px #0E76BC
}
.panel-primary .panel-body li a {
    display: block;
    padding: 10px 20px;
    color: #fff
}
.panel-primary .panel-body li.active a {
    background: #E77817
}
.panel-primary .panel-body li a span {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    float: right
}
.panel-primary .panel-body li a span:before {
    content: "\e080"
}
.menu-right {
    margin: 0;
    padding: 0
}
.menu-right li {
    border-top: solid 1px #ddd
}
.menu-right li a {
    display: block;
    padding: 10px 20px;
    font-size: 14px
}
.menu-right li.active a {
    background: #E77817
}
.footer {
    background: #EEE;
    padding: 10px;
    border-top: solid 1px #DADADA
}
.footer h1 {
    margin: 0;
    font-size: 14px;
    color: #333
}
#right_bar {
    position: fixed;
    right: 0;
    bottom: 8%;
    z-index: 1030
}
#right_bar .btn {
    margin: 5px 0;
    padding: 5px 8px
}
#right_bar i {
    font-size: 18px
}
#right_bar .tooltip-inner {
    width: 150px
}
#footer_bar {
    position: fixed;
    bottom: 0;
    z-index: 1030;
    background: #EEE;
    max-width: 750px;
    width: 100%;
    border-top: 1px solid #DDD;
    height: 30px;
    line-height: 30px;
    color: #E74C3C;
    padding: 0 10px;
    font-weight: 700;
    font-size: 14px
}
#footer_bar .btn {
    padding: 6px
}
.footer_bar_space {
    height: 32px
}
.type-sim {
    margin: -10px
}
.table-sim .sim-digit,
.type-sim .sim-price {
    text-shadow: 0 6px 8px rgba(0, 0, 0, .2);
    display: block
}
.table-sim .tooltip-inner {
    width: 200px
}
.table-sim img {
    width: 50px
}
.type-news ul {
    line-height: 2em
}
.type-news ul li {
    list-style: inside;
    color: #0E76BC
}
.type-phong-thuy .header {
    position: relative;
    background: #FFF url(/lib/img/phong-thuy/bgr-header.jpg) no-repeat top right;
    width: 99.9%;
    height: 95px;
    z-index: 1;
    overflow: hidden;
    border-top: solid 3px #ddd
}
.type-phong-thuy .header .logo {
    position: absolute;
    left: -120px;
    top: -65px;
    background: 0 0
}
.type-phong-thuy .header .slogan {
    position: absolute;
    left: 145px;
    top: 15px
}
.type-phong-thuy .nav {
    background: #0082C8
}
.type-phong-thuy .tab-content {
    background: url(../../lib/img/phongthuy/sim/bg1.jpg)
}
.type-phong-thuy .body-tool,
.type-phong-thuy .share {
    background: url(../../lib/img/phong-thuy/bgr-main.jpg)
}
.type-phong-thuy .body-tool {
    border-bottom: solid 8px #0082C8
}
.type-phong-thuy .share {
    background: url(../../lib/img/phong-thuy/bgr-main.jpg);
    padding: 15px 50px
}
.type-phong-thuy .main-phong-thuy {
    padding: 0 5px
}
.type-phong-thuy h3 {
    margin: 10px 0 0
}
.detail-news {
    line-height: 1.8em
}
.detail-news h1 {
    font-size: 18px;
    text-shadow: 0 1px 0 white, 0 2px 0 #DDD
}
.detail-news h2,
.detail-news h3,
.detail-news h4 {
    font-size: 12px;
    color: #000
}
.detail-news img {
    max-width: 100%!important
}