.footer {
	background: #F9F9F9;
	margin-left: -15px;
	margin-right: -15px;
	padding: 20px;
	border-top: solid 1px #dadada;
	/*border-bottom: solid 10px #3276B1;*/
}
#right_bar {
	position: fixed;
	right: 0;
	bottom: 30px;
	z-index: 1031;
	_position: absolute;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-50));
	_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth));
}
#right_bar .btn {
	margin: 5px 0;
	padding: 5px 8px;
}
#right_bar i {
	font-size: 22px;
}
#right_bar .tooltip-inner {
	width: 150px;
}
#footer_bar {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background: #EEE;
	border-top: 1px solid #DDD;
	/*box-shadow: 0 0px 8px #DDD;*/
	width: 100%;
	height: 30px;
	line-height: 30px;
	_position: absolute;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight));
	_left: expression(eval(document.documentElement.scrollLeft));
}
#footer_bar .tit-hotline {
	float: left;
	padding: 0 50px;
	position: relative;
	background: #E77817;
	text-transform: uppercase;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
}
#footer_bar .tit-hotline .arrow-hotline {
	width: 0px;
	height: 0px;
	border: 15px solid #E77817;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid transparent;
	position: absolute;
	right: -30px;
	top: 0px;
	_display: none;
}
#footer_bar .hotline {
	float: left;
	padding-left: 20px;
	color: #E77817;
	font-size: 14px;
}
#footer_bar .phone {
	color: #D2322D;
	font-size: 20px;
	font-weight: bold;
}
.footer_bar_space {
	height: 30px;
}

@media (min-width: 1200px) {
.banner_tet_header{
	width:148px; 
	height:450px;	
	position: fixed;
	top:0;
	z-index:1030;	
}
.banner_tet_header.banner_left{
	background:url(../../lib/img/tet/banner_left.png) no-repeat; 
	left:0;  
}
.banner_tet_header.banner_right{
	background:url(../../lib/img/tet/banner_right.png) no-repeat; 
	right:0;  
}
.banner_tet_footer{
	background:url(../../lib/img/tet/banner_header.png) no-repeat; 
	width:320px; 
	height:91px; 
	position:fixed; 
	bottom:0; 
	left:0;	
	z-index:1031;
}
#footer_bar .hotline {
	padding-left: 168px;
}
}
