*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	background:#efefef;
	font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
	color: #333333;
	line-height: 1.428571429;
	outline: none;
	zoom: 1;
	/*_background:#FFF url(about:blank) fixed;*/
}
body, ul, li, form{
	margin: 0;
	padding: 0;	
}
h1, h2, h3 {
	color: #E77817;
}
ul, li{
	list-style:none;	
}
a {
	color: #00549c;
	text-decoration: none;
}
a:hover, a:focus {
	color: #D8052B;
}
img {
	vertical-align: middle;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main-content {
	width: 970px;
	margin: auto;
}
.img-circle {
	border-radius: 50%;
}
.img-thumbnail {
	padding: 4px;
	line-height: 1.428571429;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.text-bold {
	font-weight:bold;
}
.text-white {
	color: #FFF;
}
.text-yellow {
	color: #FFFF00;
}
.text-muted {
	color: #999999;
}
.text-primary {
	color: #00549c;
}
.text-warning {
	color: #c09853;
}
.text-danger {
	color: #D8052B;
}
.text-success {
	color: #075f09;
}
.text-info {
	color: #3a87ad;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	transition: height 0.35s ease;
}
.clearfix {
	clear:both;	
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.affix {
	position: fixed;
}
.break_line {
	border-bottom: dotted 1px #DADADA;
	padding: 5px 0;
}
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.box-shadow{
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
#loadingbar {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: -6px;
	width: 1%;
	height: 2px;
	background: #FFF;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.header_search{
	min-height: 72px;
	background: #FFF;
	padding: 10px 15px;
	position: relative;
	display: flex;
	align-items: center;
}
.header_search input#searchText{
	width: 100%;
	border: 1px solid #ed1d24;
	height: 40px;
	font-size: 16px;
}
.header_search .btn-success{
	height: 40px;
	position: absolute;
	top: 16px;
	right: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ed1d24;
	border: 0;
	width: 64px;
}
.header_search .btn-success i{
	font-size: 22px;
}
.container_main{
	display: grid;
	grid-template-columns: 600px 360px;
	grid-column-gap: 10px;
	clear: both;
	width: 100%;
	margin: 0 auto;
}
.box_simdep{
	padding-bottom: 30px;
}
.box_simdep h1{
	font-size: 20px;
	margin: 5px 0;
}
.box_simdep span{
	font-size: 15px;
	color: #757474;
	padding-bottom: 5px;
}
/*.box_sim{
	background: #FFF;
	padding: 10px;
	margin-top: 10px;
}*/
.box_sim h2 {
	margin: 0 0 10px;
	position: relative;
	padding-left: 40px;
	text-transform: uppercase;
}
.box_sim h2:before{
	content: "";
	background: url("../img/icon/icon_loa.png");
	width: 32px;
	height: 23px;
	position: absolute;
	top: 5px;
	left: 0;
}
.box_sim .bsh_title{
	padding-left: 65px;
	font-size: 20px;
	margin: 0 0 10px;
	position: relative;
	text-transform: uppercase;
}
.box_sim .bsh_title:before{
	content: "";
	background: url("../img/icon/icon_hot.png");
	width: 89px;
	height: 35px;
	position: absolute;
	top: 0;
	left: -34px;
}
.box_sim ul{
	display: grid;
	grid-template-columns: 190px 190px 190px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}
.box_sim ul li{
	display: block;
	border: 1px solid #c0c0c0;
	padding: 10px;
	border-radius: 5px;
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	position: relative;
}
.box_sim ul li a.btn_cart{
	display: flex;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: #47a447;
	color: #fff;
	border-radius: 4px;
	opacity: 0;
	align-items: center;
	width: 70px;
	height: 30px;
	justify-content: center;
}
.box_sim ul li:hover a.btn_cart {
	z-index: 2;
	opacity: 1;
}
.box_sim ul li:hover:after {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #012b2a;
	opacity: .5;
	content: "";
	border-radius: 5px;
}
.box_sim ul li.bs_more:hover:after{
	display: none;
}
.box_sim ul li:hover{
	transform: translateY(-3px);
	-webkit-transform: translateY(-3px);
}
.logo_viettel{
	width: 36px;
	height: 36px;
	background: url("../img/icon/icon_viettel.jpg") no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.logo_mobi{
	width: 36px;
	height: 36px;
	background: url("../img/icon/icon_mobi.jpg") no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.logo_vn{
	width: 36px;
	height: 36px;
	background: url("../img/icon/icon_vn.jpg") no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.logo_vina{
	width: 36px;
	height: 36px;
	background: url("../img/icon/icon_vina.jpg") no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.logo_vnpt{
	width: 36px;
	height: 36px;
	background: url("../img/icon/icon_vnpt.jpg") no-repeat center center;
	display: inline-block;
}
.bs_logo{
	border: 1px solid transparent;
	border-radius: 50%;
	-webkit-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.33);
	box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.33);
	margin-top: 3px;
}
.box_sim ul li .sim_item{
	display: grid;
	grid-template-columns: 36px calc(100% - 41px);
	grid-column-gap: 5px;
	justify-content: center;
	align-items: center;
}
.box_sim ul li .sim_item img{
	-webkit-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.33);
	box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.33);
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
.bs_main{
	text-align: right;
}
.sim_price{
	color: #075f09;
	font-size: 14px;
	display: block;
}
.box_sim ul li.bs_more a{
	display: inline-block;
	text-align: center;
	line-height: 42px;
	width: 100%;
	font-size: 18px;
}
.box_sim ul li.bs_more:hover a{
	color: #FFF;
}
.box_sim ul li.bs_more:hover{
	background: #00549c;
}
.sim_name{
	color: #00549c;
	font-size: 18px;
	line-height: 100%;
	max-height: 24px;
	display: inline-block;
	font-weight: bold;
}
.main_right{
	margin-top: 10px;
	position: relative;
}
.box_filter ul{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	max-width: 330px;
}
.box_filter ul li{
	display: inline-block;
	width: 100%;
	border: 1px solid #cccccc;
	height: 30px;
}
.bml_sex ul li.active i.icon_check,
.box_filter ul li.active i.icon_check{
	background: #00549c;
	border: 1px solid #00549c;
}
.main_right .panel-sidebar{
	border: 0;
	background: #FFF;
	margin-bottom: 10px;
}
.main_right .panel-sidebar .panel-heading .panel-title{
	border-right: solid 1px #ddd;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.main_right .panel-sidebar .panel-body{
	padding: 10px;
}
.box_filter ul li a{
	color: #696868;
	line-height: 28px;
	display: inline-block;
	width: 100%;
	padding-left: 10px;
}
.icon_check{
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #696868;
	border-radius: 50%;
	margin-right: 3px;
}
.box_sim_select{
	background: #FFF;
	margin-bottom: 10px;
}
.box_sim_select h2{
	width: 100%;
	height: 35px;
	display: inline-block;
	margin: 0;
	background: #3276B1;
	line-height: 35px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: normal;
}
.box_sim_select h2 a{
	color: #FFF;
}
.box_sim_select h2 i{
	margin-right: 5px;
	color: #FFF;
}
.search_right{
	display: grid;
	grid-template-columns: calc(50% - 1.5px) calc(50% - 1.5px);
	grid-gap: 3px;
}
.search_right div a{
	width: 100%;
}
.type_sim_main .main_left{
	padding: 10px;
	background: #FFF;
	margin-top: 10px;
}
.type_sim_main .main_left .breadcrumb{
	margin-top: 0;
}
#menu_main{
	height: 50px;
	overflow: hidden;
}
.border_line{
	position: relative;
}
.border_line:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	top: -20px;
	left: -15px;
}
#task_filter{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
.type_sim_main .box_sim{
	padding: 0;
	margin-bottom: 30px;
}
.breadcrumb li{
	position: relative;
}
.breadcrumb li+li::before {
	content: "›";
	font-family: 宋体;
	font-size: 13px;
	margin: 0 7px 0 10px;
	content: ">";
	font-size: 13px;
	margin: 0 5px 0 5px;
}
table.detail-sim{
	width: 60%;
	border: 0;
	float: left;
}
table.detail-sim td.sim-digit h1{
	font-size: 22px;
	line-height: 0.8;
	color: #ed1d24;
	margin: 0;
	padding: 0;
}
table.detail-sim td.sim-price{
	font-size: 16px;
	font-weight: normal;
}
.ds_img_sim{
	float: right;
	width: 40%;
}
.ds_img_sim img{
	max-width: 100%;
	height: auto;
}
.bg-info{
	padding: 5px;
	margin-bottom: 5px;
	clear: both;
}
.bg-info.info_detail{
	padding: 0;
	color: #3176b1;
	background-image: none;
	border: 0;
}
.id_hotline{
	color: #ed1d24;
	font-size: 15px;
}
.dtSimContact h3{
	padding: 10px;
	background: #3276B1;
	color: #FFF;
	font-weight: normal;
}
#box_contact{
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}
#box_contact:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	top: -20px;
	left: -15px;
}
.table.table-sim tbody tr td{
	line-height: 27px;
	padding: 8px 5px;
}
.detail-sim body tr td{
	border: 0;
}
.hidden{
	display: none;
}
.title_main{
	color: #00549c;
	margin: 5px 0 25px;
	text-align: center;
	position: relative;
	text-transform: uppercase;
}
.title_main:after{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 50px;
	height: 3px;
	background: #E77817;
}
.title_main span{
	color: #ed1d24;
}
.newslist{
	width: 100%;
	display: block;
}
.newslist li {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 15px 0;
	position: relative;
}
.newslist li.hot_news{
	width: 50%;
	float: left;
	padding-right: 10px;
}
.newslist li:nth-child(2){
	padding-right: 0;
	padding-left: 10px;
}
.newslist li.hot_news .tempvideo{
	width: 100%;
	height: 196px;
	float: none;
	margin-bottom: 15px;
}
.newslist li:nth-child(3){
	clear: both;
}
.newslist li a {
	display: block;
	overflow: hidden;
	position: relative;
}
.newslist li .tempvideo {
	float: left;
	position: relative;
	width: 200px;
	height: 140px;
	margin-right: 15px;
	overflow: hidden;
}
.newslist li .tempvideo img{
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.newslist li h3 {
	display: block;
	overflow: hidden;
	line-height: 24px;
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-weight: 700;
	color: #232323;
}
.newslist li figure {
	font-size: 14px;
	color: #333;
	line-height: 22px;
	margin: 10px 0;
}
.ss_title{
	margin: 5px 0 15px;
	position: relative;
	padding-left: 40px;
	text-transform: uppercase;
	font-size: 20px;
}
.ss_title:before {
	content: "";
	background: url(../img/icon/icon_loa.png);
	width: 32px;
	height: 23px;
	position: absolute;
	top: 0;
	left: 0;
}
.ha_title_hot{
	font-size: 18px;
	text-align: center;
}
.buy_request{
	position: relative;
	margin-bottom: 20px;
}
.buy_request:after {
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	bottom: -20px;
	left: -15px;
}
.buy_request #box_contact_success:after{
	display: none;
}
.home_article{
	margin-bottom: 20px;
}