.detail-news h1 {
	font-size: 22px;
	font-weight: 700;
	line-height: 28px;
	color: #232323;
	margin: 20px 0 10px;
	text-transform: uppercase;
}
.detail-news h2{
	font-size: 16px;
	color: #000;
}
.detail-news h3{
	font-size: 14px;
	color: #000;
}
.detail-news img {
	max-width:100% !important;
}
.detail-news .date{
	margin-top: 0;
	color: #999;
	margin-bottom: 10px;
}
.detail-news .news_teaser{
	margin: 15px 0;
	display: block;
	font-size: 16px;
	border-left: solid 3px #333;
	padding-left: 10px;
	font-style: italic;
	line-height: 24px;
	margin-left: 10px;
	font-weight: 600;
}
.detail-news .description p{
	line-height: 24px;
	text-align: justify;
}
.detail-news .description strong,
.detail-news .description b{
	font-weight: 700;
}