.active{
	_background:#FFF;	
	_color: #333;
}
.row {
	margin: 0;
	padding: 0;
	width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px;
	margin-left: 0 15px;
	behavior: url(/lib/ie/boxsizing.htc);
}
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.48936170212765%;
}
.col-md-10 {
	width: 82.97872340425532%;
}
.col-md-9 {
	width: 74.46808510638297%;
}
.col-md-8 {
	width: 65.95744680851064%;
}
.col-md-7 {
	width: 57.44680851063829%;
}
.col-md-6 {
	width: 48.93617021276595%;
}
.col-md-5 {
	width: 40.42553191489362%;
}
.col-md-4 {
	width: 31.914893617021278%;
}
.col-md-3 {
	width: 23.404255319148934%;
}
.col-md-2 {
	width: 14.893617021276595%;
}
.col-md-1 {
	width: 6.382978723404255%;
}