.bg-default, .navbar{
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);	
}
.bg-primary, .breadcrumb{
	background:#3276B1;	
	color:#FFF;
}
.bg-info, .col-search {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#b9def0));
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -moz-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  border-color: #9acfea;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
}
