/*
 * Header Bar
 */
#header_bar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background: #3276B1;
	width: 100%;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop));
	_left: expression(eval(document.documentElement.scrollLeft));
}
#header_bar .main {
	width:1000px;
	margin:auto;
}
#header_bar ul li {
	height: 36px;
	line-height: 36px;
	float: left;
}
#header_bar ul li a {
	color: #FFF;
	display: block;
	padding: 0 5px;
}
#header_bar ul ul li {
	float: none;
	height: 30px;
	line-height: 30px;
}
#header_bar ul ul li a {
	color: #333;
	display: block;
}
#header_bar ul li a:hover {
	background: #0E76BC;
	color: #FFF;
}
#header_bar .dropdown-menu-cat{
	width:318px;
}
#header_bar .dropdown-menu-cat ul{
	float:left;
	width:150px;
	margin-left:5px;
}
#header_bar #searchText{
	margin-top:-0.5px;
	_margin-top:2px;
}
#searchText{
	width:180px;
	*width:145px;
}
#header_bar .search-bar .btn{
	padding:4px 10px;
	margin-top:-2px;
	_margin-top:2px;
	margin-left:3px;
}
#header_bar .phone {
	font-weight: bold;
	font-size: 13px;
	color: #ed1d24;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	padding-right: 5px;
}
#header_bar .phone span{
	font-size: 20px;
}
#header_bar .popover {
	
}
#main-sim-nam-sinh ul{
	width:650px;
}
#main-sim-nam-sinh ul li{
	float:left !important;
	width:130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	
}
/* End Header Bar */


/*
 * Nav Bar
 */
.navbar {
	border: 1px solid #ddd;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
	clear: both;
}
.navbar-nav {
	float: left;
	margin: 0 15px;
}
.navbar-header {
	float: left;
}
.navbar-header .navbar-brand {
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	background: url(../img/logo.png) no-repeat 10px 0;
	width: 214px;
	height: 43px;
}
.navbar-nav li {
	float: left;
}
.navbar-nav li a {
	padding: 12px 0;
	margin: 0 12px;
	font-size: 16px;
	border-bottom: solid 3px transparent;
	_border-bottom: none;
	font-weight: 700;
}
.navbar-nav li a:hover, .navbar-nav li a:focus {
	color: #E77817;
}
.navbar-nav .active a, .navbar-nav .active a:hover, .navbar-nav .active a:focus {
	color: #E77817;
	border-bottom: solid 3px #E77817;
}
.navbar_space {
	height: 35px;
}
