.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0 dotted;
	content: "";
	_display:none;
}
.open .dropdown-menu {
	display: block;
}
.dropdown {
	position: relative;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	min-width: 160px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #ffffff;
	border: solid 1px #DADADA;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	_width:160px;
}
.dropdown-menu li{
	float:none;	
}
.dropdown-menu li a {
	display: block;
	margin: 0;
	padding: 8px 15px;
	font-weight: normal;
	white-space: nowrap;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
	background:#0E76BC;
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
.dropdown-menu .divider a {
	color: #E77817;
	font-weight:bold;
	overflow: hidden;
	background-color: #CCC;
}