.panel {
	margin-bottom:5px;
}
.panel-title {
	margin:0;
	padding:5px 0;
	font-size: 14px;
}
.panel-body:before, .panel-body:after {
	content: " ";
	display: table;
}
.panel-body:after {
	clear: both;
}
.panel-body ul, .panel-body li {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 2em;
}

.panel-default .panel-heading {
	border-bottom: solid 3px #DEDEDC;
}
.panel-default .panel-heading .panel-title {
	color: #333;
	background-color: #DEDEDC;
	border-color: #428bca;
	display:block;
	padding: 5px 10px;
	float: left;
}

.panel-sim-digit .panel-heading .panel-title {
	float: left;
}
.panel-sim-digit .panel-body li {
	line-height: 1.6em;
}


/*
 * Template Sim Type
 */
.panel-sim-cat .panel-heading {
	border-bottom: solid 3px #0093DD;	
}
.panel-sim-cat .panel-body {
	padding: 5px 0 0 0;
}

/*
 * Side bar
 */
.panel-sidebar {
	border:solid 1px #ddd;	
	margin-bottom:20px;
}
.panel-sidebar .panel-heading {
	margin-top:-3px;
}
.panel-sidebar .panel-heading .panel-title {
	float:left;
	padding:5px 10px;
	min-width:200px;
	border-top: solid 6px #E77817;
	border-bottom: solid 1px #ddd;	
	background:#F9F9F9;
	color: #E77817;
}
.panel-sidebar .panel-body{
	padding:5px 10px;		
}

.col-search .panel-search{
	padding:16px;
}
.col-search #searchText{
	width:350px;
}
.col-search .arrow-search{
	width:0; 
	height:0;
	border: 34px solid #3276B1;
	border-top: 34px solid transparent;
	border-bottom: 34px solid transparent;
	border-left: 34px solid transparent;
	position: absolute;	
	top: 0px;
	right: 0px;
	font-size:50px; 
	color:#3276B1;
	_display: none;	
}