.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
.pagination li {
	display: inline;
}
.pagination li a, .pagination li span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: -1px;
}
.pagination li:first-child a, .pagination li:first-child span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.pagination li:last-child a, .pagination li:last-child span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pagination li a:hover, .pagination li span:hover, .pagination li a:focus, .pagination li span:focus {
	background-color: #eeeeee;
}
.pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
	z-index: 2;
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;
	cursor: default;
}