.nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav:before, .nav:after {
	content: " ";
	display: table;
}
.nav:after {
	clear: both;
}
.nav li a {
	display: block;
	padding: 10px 0;
	margin: 0 10px;
}
.nav-tabs {
	border-bottom: 1px solid #dddddd;
}
.nav-tabs li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs li a {
	text-align: center;
	font-size: 14px;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
	cursor: default;
	color: #D8052B;
	font-weight: bold;
	background:#F9F9F9;
	border-top: solid 3px #0E76BC;
}
.tab-content .tab-pane {
	display: none;
}
.tab-content .active {
	display: block;
}

/*
.nav-tabs.nav-justified {
	width: 100%;
}
.nav-tabs.nav-justified li {
	float: none;
	display: table-cell;
	width: 1%;
}
.nav-tabs.nav-justified li a {
	margin:0;
}
*/

.nav-tabs-phong-thuy{
	border-bottom: none;	
	padding-top:5px;
	float:right;
}
.nav-tabs-phong-thuy li a{
	color:#FFF;
	margin:0 5px;
	padding: 8px 30px;
}
.nav-tabs-phong-thuy li.active a,.nav-tabs-phong-thuy li.active a:hover, .nav-tabs-phong-thuy li.active a:focus   {
	border:none;
}
