.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
  background:none;
}
.carousel-inner .item img,
.carousel-inner .item a img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.carousel-inner .active, .carousel-inner .next, .carousel-inner .prev {
	display: block;
}
.carousel-inner .active {
	left: 0;
}
.carousel-inner .next, .carousel-inner .prev {
	position: absolute;
	top: 0;
	width: 100%;
}
.carousel-inner .next {
	left: 100%;
}
.carousel-inner .prev {
	left: -100%;
}
.carousel-inner .next.left, .carousel-inner .prev.right {
	left: 0;
}
.carousel-inner .active.left {
	left: -100%;
}
.carousel-inner .active.right {
	left: 100%;
}
.carousel-control {
	position: absolute;
	top: 40% !important;
	left: 15px;	
	width: 40px;
	height: 40px;
	font-size: 50px;
	font-weight: 100;
	line-height: 25px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 3px solid #ffffff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 25px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 6;
}
.carousel-control.right {
	left: auto;
	right: 15px;
}
.carousel-control:hover, .carousel-control:focus {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.carousel-indicators {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 15;
	margin: 0;
	list-style: none;
}
.carousel-indicators li {
	display:block;
	float:left;
	width: 15px;
	height: 15px;
	margin: 1px;
	text-indent: -999px;
	background-color: #0E76BC;
	border-radius: 10px;
	cursor: pointer;
}
.carousel-indicators .active {
	background-color: #E74C3C;
}
.carousel-caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	background: #333333;
	background: rgba(0, 0, 0, 0.75);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.carousel-caption h4, .carousel-caption p {
	color: #ffffff;
	line-height: 20px;
}
.carousel-caption h4 {
	margin: 0 0 5px;
}
.carousel-caption p {
	margin-bottom: 0;
}


