.header_bar_simple_tip{
	overflow: hidden;
	padding: 5px;
}
.bss_main{
	padding: 10px;
	display: grid;
	grid-template-columns: 90px 90px 90px 40px;
	grid-column-gap: 10px;
}
.bss_main_love{
	padding: 10px;
}
.bss_main_love div{
	margin-bottom: 10px;
}
.bss_main_love div span{
	width: 100px;
	display: inline-block;
	line-height: 30px;
}
.bml_date select{
	margin-right: 5px;
}
.bml_date select:last-child{
	margin-right: 0;
}
.bml_sex{
	display: grid;
	grid-template-columns: 100px auto;
}
.bml_sex ul li{
	display: inline-block;
	width: 72px;
	border: 1px solid #cccccc;
	height: 30px;
	float: left;
	margin-left: 10px;
	border-radius: 4px;
}
.bml_sex ul li:first-child{
	margin-left: 2px;
}
.bml_sex ul li a {
	color: #696868;
	font-size: 13px;
	line-height: 28px;
	display: inline-block;
	width: 100%;
	padding-left: 10px;
}
.bml_sex ul li a span{
	line-height: 28px;
	width: auto;
}
.bml_sex ul li:last-child{
	border: 0;
	width: auto;
}
.bml_sex ul li button{
	padding: 4px 25px;
}
.bss_main_love div:last-child{
	margin-bottom: 5px;
}
.box_home_news{
	background: #FFF;
	border: 1px solid #DDD;
	margin-top: 10px;
	margin-bottom: 13px;
}
.box_home_news .nav-tabs{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}
.box_home_news .nav-tabs li{
	position: relative;
}
.box_home_news .nav-tabs li a{
	margin: 0;
	padding: 0 8px;
	font-size: 16px;
	line-height: 37px;
	margin-bottom: 0;
	font-weight: 700;
}
.box_home_news .nav-tabs li a:hover{
	color: #E77817;
}
.box_home_news .nav-tabs li.active a,
.box_home_news .nav-tabs li.active a:hover,
.box_home_news .nav-tabs li.active a:focus{
	color: #E77817;
	font-weight: normal;
	background: #FFF;
	border-top: 0;
	text-align: center;
}
.box_home_news .nav-tabs li.active:after{
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #E77817;
	top: -2px;
	content: "";
}
.box_home_news .nav-tabs li.active:before{
	position: absolute;
	width: 1px;
	height: 20px;
	background-color: #DDD;
	top: 50%;
	right: 0;
	margin-top: -10px;
	content: "";
}
.box_home_news .nav-tabs li:first-child:before{
	display: none;
}
.box_home_news .nav-tabs li:before{
	position: absolute;
	width: 1px;
	height: 20px;
	background-color: #DDD;
	top: 50%;
	left: 0;
	margin-top: -10px;
	content: "";
}
.box_list_order ul li{
	line-height: 140%;
	margin-bottom: 5px;
}
.box_list_order ul li span{
	width: 100%;
	display: block;
	line-height: 140%;
}
.box_list_order ul li span.bo_name{
	font-size: 14px;
}
.box_list_order ul li span.text-muted{
	font-size: 13px;
}
.g4_viettel{
	width: 39px;
	height: 21px;
	background: url("../img/icon/4g_viettel.jpg") no-repeat center center;
	display: inline-block;
}
.g4_vina{
	width: 27px;
	height: 23px;
	background: url("../img/icon/4g_vina.jpg") no-repeat center center;
	display: inline-block;
}
.g4_mobi{
	width: 26px;
	height: 23px;
	background: url("../img/icon/4g_mobi.jpg") no-repeat center center;
	display: inline-block;
}
.g4_vnmobi{
	width: 24px;
	height: 24px;
	background: url("../img/icon/4g_vnmobi.jpg") no-repeat center center;
	display: inline-block;
}
.box_sim_4g .nav-tabs:before{
	display: none;
}
.box_sim_4g .nav-tabs{
	grid-template-columns: 25% 25% 25% 25%;
}
.box_sim_4g .nav-tabs li{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}
.box_sim_4g .nav-tabs li a{
	display: flex;
}
.g4_name{
	height: 30px;
	text-align: center;
	width: 100%;
	background: #008f8b;
	color: #FFF;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.g4_list{
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.g4_list li{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px 0;
}
.g4_list li i{
	font-size: 24px;
	margin-bottom: 10px;
	color: #00549c;
}
.g4_title{
	margin-bottom: 3px;
	color: #000;
	font-size: 13px;
}
.g4_sapo{
	color: #696868;
}
.g4_money{
	display: grid;
	grid-template-columns: 80px calc(100% - 90px);
	padding: 0 10px 10px;
	grid-column-gap: 10px;
}
.g4_cuphap{
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
.g4_title{
	margin-bottom: 3px;
	color: #000;
	font-size: 13px;
}
.g4_cuphap span{
	color: #F00;
	padding: 0 5px;
}
.g4_title_cp{
	text-align: right;
}
.g4_title_cp .g4_price{
	color: #F00;
	font-size: 13px;
}
.box_text_link{
	margin-top: 10px;
}
.box_text_link ul li{
	line-height: 38px;
	border-bottom: 1px solid #DDD;
}
.box_text_link ul li:last-child{
	border-bottom: 0;
}
.box_text_link ul li a{
	font-size: 14px;
}
.main_right .box_text_link .panel-body{
	padding-top: 5px;
	padding-bottom: 5px;
}
.icon_visa{
	width: 60px;
	height: 19px;
	background: url("../img/icon/visa.png") no-repeat center center;
	display: inline-block;
}
.icon_mastercard{
	width: 56px;
	height: 33px;
	background: url("../img/icon/mastercard.png") no-repeat center center;
	display: inline-block;
}
.icon_vcbbank{
	width: 98px;
	height: 20px;
	background: url("../img/icon/vietcombank.png") no-repeat center center;
	display: inline-block;
}
.icon_agribank{
	width: 95px;
	height: 17px;
	background: url("../img/icon/agribank.png") no-repeat center center;
	display: inline-block;
}
.icon_tcbbank{
	width: 100px;
	height: 13px;
	background: url("../img/icon/techcombank.png") no-repeat center center;
	display: inline-block;
}
.icon_bct{
	width: 97px;
	height: 29px;
	background: url("../img/icon/icon_bct.png") no-repeat center center;
	display: inline-block;
}
.icon_ggplay{
	width: 85px;
	height: 25px;
	background: url("../img/icon/androi.jpg") no-repeat center center;
	display: inline-block;
}
.icon_appstore{
	width: 86px;
	height: 26px;
	background: url("../img/icon/appstore.jpg") no-repeat center center;
	display: inline-block;
}
.footer_main{
	background: #3276B1;
	text-align: center;
	padding: 15px 0 10px;
	color: #FFF;
	margin-top: 30px;
	font-size: 13px;
	line-height: 140%;
}
.footer_main div{
	margin-bottom: 5px;
}
.footer_main div:last-child{
	margin-bottom: 0;
}
.list_bank{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 10px;
	margin-bottom: 20px;
}
.list_bank li{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fl_text{
	color: #595858;
	line-height: 160%;
	margin-bottom: 10px;
}
.fl_text span{
	font-size: 13px;
	color: #333;
}
.box_fanpage a img{
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
}
.box_fanpage{
	margin-top: 10px;
	background: #FFF;
	padding: 10px;
}
.home_article{
	background: #FFF;
	padding: 10px;
	margin-top: 10px;
}
.home_article h2{
	margin: 5px 0 0;
	text-transform: uppercase;
}
.home_article p{
	line-height: 22px;
}
.hotline_fixed{
	position: fixed;
	display: block;
	bottom: 15px;
	left: 9px;
}
.hotline_fixed a{
	border: 1px solid #fff;
	z-index: 99999999;
	color: #fff;
	font-weight: bold;
	position: fixed;
	bottom: 15px;
	left: 9px;
	padding: 10px 16px 10px 43px;
	background: #0093dd;
	border-radius: 50px;
	font-size: 17px;
	line-height: 18px;
}
.hotline_fixed #phone {
	position: absolute;
	top: 3px;
	left: -4px;
}
#phone span {
	display: inline-block;
	width: 43px;
	height: 36px;
	position: absolute;
	top: -3px;
	left: -1px;
	background: url(../img/icon/phone_fixed.webp) no-repeat center center;
	-webkit-animation: Rotate 1300ms linear 1300ms 5;
	animation: Rotate 1300ms linear 1300ms 5;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}
#phone + div {
	width: 31px;
	height: 31px;
	position: absolute;
	left: 0;
	top: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-image: initial;
	border-radius: 50px;
}
.banner_4g img{
	max-width: 100%;
	height: auto;
}
.icon_fb{
	width: 28px;
	height: 28px;
	background: url("../img/icon/icon_fb.png") no-repeat center center;
	display: inline-block;
}
.icon_insta{
	width: 28px;
	height: 28px;
	background: url("../img/icon/icon_insta.png") no-repeat center center;
	display: inline-block;
}
.icon_youtube{
	width: 29px;
	height: 28px;
	background: url("../img/icon/icon_youtube.png") no-repeat center center;
	display: inline-block;
}
.icon_twiter{
	width: 29px;
	height: 28px;
	background: url("../img/icon/icon_twiter.png") no-repeat center center;
	display: inline-block;
}
.icon_preen{
	width: 29px;
	height: 28px;
	background: url("../img/icon/icon_preen.png") no-repeat center center;
	display: inline-block;
}
.fr_top{
	display: grid;
	grid-template-columns: 97px calc(100% - 117px);
	grid-column-gap: 20px;
}
.fr_bottom{
	margin-bottom: 10px;
}
.fr_bottom a{
	margin-right: 5px;
}
.hotline-phone-ring-wrap{
    position:fixed;
    bottom:0;
    left:0;
    z-index:999999
}
.hotline-phone-ring{
	position:relative;
	visibility:visible;
	background-color:transparent;
	width:110px;
	height:110px;
	cursor:pointer;
	z-index:11;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateZ(0);
	transition:visibility .5s;
	left:0;
	bottom:0;
	display:block
}
.hotline-phone-ring-circle{
	width:110px;
	height:110px;
	top:0;
	left:0;
	position:absolute;
	background-color:transparent;
	border-radius:100%;
	border:2px solid #ed1d24;
	-webkit-animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;
	animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;
	transition:all .5s;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	opacity:.5
}
.hotline-phone-ring-circle-fill{
	width:80px;
	height:80px;
	top:16px;
	left:16px;
	position:absolute;
	background-color:rgba(21,100,167,.7);
	border-radius:100%;
	border:2px solid transparent;
	-webkit-animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	transition:all .5s;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%
}
.hotline-phone-ring-img-circle{
	background-color:#ed1d24;
	width:50px;
	height:50px;
	top:31px;
	left:31px;
	position:absolute;
	background-size:20px;
	border-radius:100%;
	border:2px solid transparent;
	-webkit-animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;
	animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	align-items:center;
	justify-content:center
}
.hotline-phone-ring-img-circle .pps-btn-img{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex
}
.hotline-phone-ring-img-circle .pps-btn-img img{
	width:33px;
	height:33px;
	transition: opacity 1s;
	opacity: 1;
}
.hotline-phone-ring-img-circle .pps-btn-img svg{
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	fill: #ed1d24;
	border: 1px solid #ed1d24;
}
.hotline-bar{
	position:absolute;
	background:#ed1d24;
	height:45px;
	width:165px;
	line-height:40px;
	border-radius:3px;
	padding:0 10px;
	background-size:100%;
	cursor:pointer;
	transition:all .8s;
	-webkit-transition:all .8s;
	z-index:9;
	border-radius:50px !important;
	left:42px;
	bottom:35px
}
.hotline-bar>a{
	color:#fff;
	text-decoration:none;
	font-size:16px;
	font-weight:700;
	text-indent:32px;
	letter-spacing:1px;
	display:block;
	line-height:45px;
	font-family:Arial
}
.hotline-bar>a:hover,.hotline-bar>a:active{
	color:#fff
}
@-webkit-keyframes phonering-alo-circle-anim{
	0%{
		-webkit-transform:rotate(0) scale(.5) skew(1deg);
		-webkit-opacity:.1
	}
	30%{
		-webkit-transform:rotate(0) scale(.7) skew(1deg);
		-webkit-opacity:.5
	}
	100%{
		-webkit-transform:rotate(0) scale(1) skew(1deg);
		-webkit-opacity:.1
	}
}
@-webkit-keyframes phonering-alo-circle-fill-anim{
	0%{
		-webkit-transform:rotate(0) scale(.7) skew(1deg);
		opacity:.6
	}
	50%{
		-webkit-transform:rotate(0) scale(1) skew(1deg);
		opacity:.6
	}
	100%{
		-webkit-transform:rotate(0) scale(.7) skew(1deg);
		opacity:.6
	}
}
@-webkit-keyframes phonering-alo-circle-img-anim{
	0%{
		-webkit-transform:rotate(0) scale(1) skew(1deg)
	}
	10%{
		-webkit-transform:rotate(-25deg) scale(1) skew(1deg)
	}
	20%{
		-webkit-transform:rotate(25deg) scale(1) skew(1deg)
	}
	30%{
		-webkit-transform:rotate(-25deg) scale(1) skew(1deg)
	}
	40%{
		-webkit-transform:rotate(25deg) scale(1) skew(1deg)
	}
	50%{
		-webkit-transform:rotate(0) scale(1) skew(1deg)
	}
	100%{
		-webkit-transform:rotate(0) scale(1) skew(1deg)
	}
}
@media (max-width:768px){
	.hotline-bar{
		display:none
	}
}
.hotline-phone-ring-circle-fill, .hotline-phone-ring-img-circle, .hotline-bar {
	background-color: #ed1d24;
}
footer{
	background: #FFF;
	margin-top: 10px;
	border-top: 3px solid #3276B1;
	padding-top: 30px;
}
.footer_link .title{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.footer_link a{
	font-size: 13px;
}
.footer_link td{
	padding-right: 10px;
}

/* DETAIL SIM */

.box_info_detail:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	top: -20px;
	left: -15px;
}
.box_info_detail{
	position: relative;
	margin-top: 30px;
}
.box_info_detail h3{
	margin-bottom: 0;
}
.box_info_detail ul{
	margin: 0;
	padding: 0;
}
.box_info_detail ul li{
	display: block;
	padding: 5px 0;
}
.box_info_detail ul li span{
	line-height: 140%;
	vertical-align: middle;
}
.box_info_detail ul li span:last-child{
	padding-left: 5px;
}
.box_info_detail p{
	color: #F00;
}
.box_info_detail i{
	color: #333;
}
#box_contact_success{
	text-align: center;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}
#box_contact_success:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	top: -20px;
	left: -15px;
}
.bcs_title{
	font-size: 24px;
	color: #41a5e3;
	margin-bottom: 10px;
}
.btn_success{
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 5px;
	background: #ed1d24;
	font-size: 28px;
	color: #FFF;
}
#box_contact_success p{
	color: #41a5e3;
	font-size: 16px;
}
.btn_cart_list{
	width: 70px;
	height: 27px;
	display: flex;
	justify-content: center;
	background-color: #47a447;
	color: #FFF;
	border-radius: 3px;
	font-size: 13px;
	font-weight: normal;
	line-height: 27px;
}
.btn_cart_list:focus,
.btn_cart_list:active,
.btn_cart_list:hover{
	color: #FFF;
}
#zalo{
	right: 12px;
}
.button_icon {
	background: #FFF;
	border-radius: 50%;
	color: #FFF;
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	bottom: 30px;
	opacity: 0;
	position: fixed;
	text-align: center;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
	transition: box-shadow 150ms linear;
	animation: button_icon_animation 250ms 1.5s forwards;
	-webkit-animation: button_icon_animation 250ms 1.5s forwards;
}
.button_icon:hover {
	box-shadow: 0 5px 24px rgba(0, 0, 0, .3);
	color: #FFF;
}
#zalo i,
#fb_message i{
	background: url(../img/icon/zalo.png) no-repeat center;
	background-size: 40px;
	margin: 10px auto;
	width: 40px;
	height: 40px;
	display: block;
}
#fb_message{
	right: 12px;
}
#fb_message i{
	background: url(../img/icon/fb-messenger.svg) no-repeat center;
}
@keyframes button_icon_animation {
  0% {
    bottom: 10px;
    opacity: 0;
    transform: scale(0, 0);
  }

  70% {
    bottom: 20px;
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  100% {
    bottom: 25px;
    opacity: 1;
    transform: scale(1, 1);
  }
}

.buy_request #box_contact_success:after{
	display: none;
}
.sim_hop_menh{
	position: relative;
	padding-top: 10px;
	margin-bottom: 20px;
}
.sim_hop_menh:after{
	content: "";
	position: absolute;
	width: calc(100% + 30px);
	height: 10px;
	background-color: #efefef;
	bottom: -20px;
	left: -15px;
}
.sim_hop_menh ul{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(106px, 1fr));
	grid-column-gap: 10px;
}
.sim_hop_menh ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	height: 30px;
	border-radius: 3px;
}
.shm_kim a{
	color: #f1ac4d;
}
.shm_moc a{
	color: #5ab95f;
}
.shm_thuy a{
	color: #5ac2df;
}
.shm_hoa a{
	color: #e84a3e;
}
.shm_tho a{
	color: #4f2a10;
}
.sim_hop_menh ul.sim_hop_nam{
	grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
	grid-row-gap: 10px;
}
.icon_up{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #E77817;
	display: inline-block;
	vertical-align: middle;
}
.icon_down{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #E77817;
	display: inline-block;
	vertical-align: bottom;
}
.table thead tr th{
	font-weight: 700;
}
#accordion{
	padding: 5px 0;
}
#accordion ul{
	padding-left: 20px;
}
#accordion ul li{
	list-style: disc;
}
#accordion i{
	font-size: 12px;
	margin-right: 8px;
}
#accordion .card-body{
	padding: 10px 12px;
	background: #efefef;
	text-align: justify;
	line-height: 24px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#accordion h3{
	padding: 0 0 10px;
	margin: 0;
	font-size: 16px;
	font-weight: 700;
}
#accordion .card:last-child h3{
	padding-bottom: 0;
}
#accordion .card:last-child .card-body{
	margin-top: 10px;
}
#accordion p{
	margin: 0;
	padding: 0;
}
#accordion ol{
	padding-left: 25px;
}
#accordion ol li{
	list-style: lower-alpha;
	margin-bottom: 8px;
}
#yinYang{
	height: 16px;
	position: relative;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#yinYang div{
	background: #FFF;
	border-radius: 50%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#yinYang div div:first-child{
	background: #000;
	border-radius: 0 999px 999px 0;
	left: 50%;
	position: absolute;
}

#yinYang div div:nth-child(2){
	bottom: 50%;
	left: 25%;
	right: 25%;
}

#yinYang div div:last-child{
	background: #000;
	left: 25%;
	right: 25%;
	top: 50%;
}

#yinYang div div:nth-child(2) div{
	border-radius: 50%;
	bottom: 35%;
	left: 35%;
	right: 35%;
	top: 35%;
}

#yinYang div div:last-child div{
	background: #FFF;
	border-radius: 50%;
	bottom: 35%;
	left: 35%;
	right: 35%;
	top: 35%;
}
.box_sim_ns{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 70px;
	grid-gap: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

/* News */
.type_new_menu{
	width: 100%;
	clear: both;
	line-height: normal;
}
.type_new_menu li{
	display: inline-block;
	height: auto;
	margin: 0 0 10px;
	position: relative;
}
.type_new_menu li:first-child{
	margin-left: 0;
	
}
.type_new_menu li.active a{
	background: #3276B1;
	color: #FFF;
}
.type_new_menu li a{
	display: block;
	padding: 3px 10px;
	font-size: 15px;
	color: #333;
	text-transform: uppercase;
	background: #fff;
	border-radius: 2px;
	font-weight: 700;
}
.infopage {
	display: flex;
	overflow: hidden;
	padding: 0 0 10px;
	border-bottom: 1px solid #eee;
	grid-template-columns: auto auto;
}
.infopage h1 {
	display: inline-block;
	line-height: 1.3em;
	font-size: 18px;
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
	vertical-align: middle;
	padding-right: 10px;
}
.infopage span {
	display: block;
	font-size: 14px;
	color: #999;
	vertical-align: middle;
	padding: 0 10px 0;
}
.newslist li .timepost {
	display: block;
	overflow: hidden;
	font-size: 14px;
	color: #999;
}
.newslist li .timepost {
	display: block;
	overflow: hidden;
	font-size: 14px;
	color: #999;
}
[class*="t_ov"] {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: auto;/* Fallback for non-webkit */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.t_ov_1 { -webkit-line-clamp: 1; }
.t_ov_2 { -webkit-line-clamp: 2; }
.t_ov_3 { -webkit-line-clamp: 3; }
.t_ov_4 { -webkit-line-clamp: 4; }
.t_ov_5 { -webkit-line-clamp: 5; }
.t_ov_6 { -webkit-line-clamp: 6; }
.t_ov_7 { -webkit-line-clamp: 7; }

.titlerelate{
	display: block;
	overflow: hidden;
	font-size: 18px;
	color: #333;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	padding: 20px 20px 15px 30px;
	border-top: 1px solid #eee;
	margin: 0;
	position: relative;
}
.titlerelate:after{
	content: "";
	width: 3px;
	height: 20px;
	top: 50%;
	left: 14px;
	background-color: #3276B1;
	transform: translate(0, -50%);
	position: absolute;
	margin-top: 2px;
}
.newsrelate {
	display: block;
	overflow: hidden;
}
.newsrelate li {
	float: left;
	overflow: hidden;
	width: 30%;
	margin-left: 2.5%;
	margin-bottom: 15px;
}
.newsrelate li:nth-child(3n+1) {
	clear: both;
}
.newsrelate li a {
	display: block;
	overflow: hidden;
}
.newsrelate li .tempvideo {
	display: block;
	position: relative;
	height: 122px;
	overflow: hidden;
	width: 100%;
}
.newsrelate li img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.newsrelate li h3 {
	display: block;
	overflow: hidden;
	line-height: 1.3em;
	font-size: 16px;
	color: #333;
	line-height: 22px;
	font-weight: 700;
	width: auto;
	margin: 5px auto;
}
.newsrelate li .timepost {
	margin-top: 2px;
	display: block;
	overflow: hidden;
	font-size: 13px;
	color: #999;
}
.breadcrumb li{
	position: relative;
}
.breadcrumb li+li::before {
	content: "›";
	font-family: 宋体;
	font-size: 13px;
	margin: 0 7px 0 10px;
	content: ">";
	font-size: 13px;
	margin: 0 5px 0 5px;
}
.no_result{
	font-size: 16px;
	font-family: GoogleSans-Medium;
	line-height: 26px;
	color: #333;
	margin-bottom: 5px;
}
.no_result_sub{
	font-size: 16px;
	font-family: GoogleSans-Medium;
	line-height: 26px;
	color: #333;
	margin-bottom: 5px;
}
.no_result_sub b{
	color: #ed1d24;
	font-size: 18px;
}
.sim_detail_search{
	margin: 30px 0;
}
.sim_detail_search sup,
.sim_detail_search .tbl_sort_price{
	display: none;
}
.btn_see_more{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 20px;
}
.btn_see_more a{
	padding: 6px 18px;
	color: #FFF;
	text-align: center;
	border-radius: 3px;
	background: #00549c;
}
#choose_sim_pt{
	margin-top: 20px;
}
#choose_sim_pt .border_line:after{
	display: none;
}
.share .form-control{
	margin-bottom: 15px;
}
.detail_order_success .main_right{
	padding-top: 265px;
	margin-top: 0;
}
.detail_order_success #box_list_order{
	position: absolute;
	top: 0;
}
.list_simhot{
	max-height: 2370px;
	overflow: hidden;
	transition: 0.3s all;
}
.bs_more_hot{
	text-align: center;
	margin-top: 10px;
}
.bs_more_hot a{
	display: inline-block;
	border: 1px solid #c0c0c0;
	padding: 10px 20px;
	border-radius: 5px;
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	position: relative;
	font-weight: 700;
	font-size: 16px;
}
.list_simhot.show_full{
	max-height: none;
}
.text_overflow{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.carousel{position:relative;line-height:1}
.carousel-inner{overflow:hidden;width:100%;position:relative}
.carousel-inner>.item{display:none;position:relative;transition:.6s ease-in-out left;-webkit-transition:.6s ease-in-out left;}
.carousel-inner>.item>a>img,.carousel-inner>.item>img{display:block;line-height:1}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}
.carousel-inner>.active{left:0}
.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}
.carousel-inner>.next{left:100%}.carousel-inner>.prev{left:-100%}
.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}.carousel-inner>.active.left{left:-100%}
.carousel-inner>.active.right{left:100%}
.carousel-control{display:block;position:absolute;top:42%;left:0px;width:13px;height:20px;opacity:.3;filter:alpha(opacity=30);transition:opacity 0.2s ease 0s;-webkit-transition:opacity 0.2s ease 0s;z-index:2;font-size: 25px;}
.carousel-control.right{left:auto;right:14px}
.carousel:hover .carousel-control{opacity:1;filter:alpha(opacity=100)}
.carousel-indicators{position:absolute;bottom:15px;right:100px;z-index:5;margin:0;list-style:none}
.carousel-indicators li{display:block;float:left;width:24px;height:24px;margin-left:5px;text-indent:-999px;background-color:#ccc;background-color:rgba(255,255,255,.9);border-radius:12px;cursor:pointer;box-shadow:0 0 5px 2px rgba(1,1,1,.2)}
.carousel-indicators .active{background-color:#0072BD}
.carousel-fade .carousel-inner .item{opacity:0;transition-property:opacity;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{left:0;opacity:0;}
.carousel-fade .carousel-inner .active,.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right{opacity:1;}
.vertical .carousel-inner>.item{-webkit-transition:.6s ease-in-out top;transition:.6s ease-in-out top}.vertical .carousel-inner>.active,.vertical .carousel-inner>.next.left,.vertical .carousel-inner>.prev.right{top:0;left:0}
.vertical .carousel-inner .next.left,.vertical .carousel-inner .prev.right{top:0}.vertical .carousel-inner .active.left,.vertical .carousel-inner .active.right,.vertical .carousel-inner .next,.vertical .carousel-inner .prev{top:80px}
.tpl_carousel_1 .control{margin-top:-15px;position:absolute;top:50%;z-index:1}.tpl_carousel_1 .control_prev{left:0}.tpl_carousel_1 .control_next{right:0}
.title_new_sidebar{ font-weight: 700; }