.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover, .btn:focus {
	color: #333333;
	text-decoration: none;
}
.btn:active, .btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}
.btn-default:active, .btn-default.active {
	background-image: none;
}
.btn-primary {
	color: #ffffff;
	background-color: #0E76BC;
	border-color: #357ebd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}
.btn-primary:active, .btn-primary.active {
	background-image: none;
}
.btn-warning {
	color: #ffffff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
	color: #ffffff;
	background-color: #ed9c28;
	border-color: #d58512;
}
.btn-warning:active, .btn-warning.active {
	background-image: none;
}
.btn-danger {
	color: #ffffff;
	background-color: #E74C3C;
	border-color: #d43f3a;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
	color: #ffffff;
	background-color: #d2322d;
	border-color: #ac2925;
}
.btn-danger:active, .btn-danger.active {
	background-image: none;
}
.btn-success {
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
	color: #ffffff;
	background-color: #47a447;
	border-color: #398439;
}
.btn-success:active, .btn-success.active {
	background-image: none;
}
.btn-info {
	color: #ffffff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
	color: #ffffff;
	background-color: #39b3d7;
	border-color: #269abc;
}
.btn-info:active, .btn-info.active {
	background-image: none;
}